<section class="advantages">
    <div>
        <img src="../../img/advant-shep.png" alt="бесплатная доставка">
        <span>
            бесплатная <br>доставка
        </span>
    </div>
    <div>
        <img src="../../img/advant-prepay.png" alt="без предоплаты">
        <span>
            0% <br>предоплата
        </span>
    </div>
    <div>
        <img src="../../img/advant-fabrik.png" alt="напряму с фабрики">
        <span>
            напрямую <br>с фабрики
        </span>

    </div>
    <div>
        <img src="../../img/advant-quality.png" alt="гарантия качества">
        <span>
            гарантия <br>качества
        </span>
    </div>
</section>