<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="http://jscrollpane.kelvinluck.com/script/jquery.jscrollpane.min.js"></script>
<script src="http://jscrollpane.kelvinluck.com/script/jquery.mousewheel.js"></script>
<script src="../js/jquery.maskedinput.min.js"></script>
<script type="text/javascript" src="../js/slick/slick/slick.js"></script>
<script src="../../bootstrap/js/bootstrap.min.js"></script>
<script src="../js/main.js"></script>
</body>
</html>