<footer>
    <div class="navigation row">
        <ul class="list-unstyled col-md-2">Покупателю
            <li><a href="./about.html">О компании</a></li>
            <li><a href="#">Новости</a></li>
            <li><a href="#">Преимущества</a></li>
            <li><a href="#">Отзывы</a></li>
            <li><a href="#">Полезно знать</a></li>
            <li><a href="#">Доставка</a></li>
            <li><a href="#">Вопрос-Ответ</a></li>
            <li><a href="#">Видео</a></li>
            <li><a href="#">Доставка</a></li>
            <li><a href="#">Контакты</a></li>
            <li><a href="#">Вакансии</a></li>
            <li><a href="#">Для диллеров</a></li>
        </ul>

        <ul class="list-unstyled col-md-2">Кухня
            <li><a href="#">Кухни эконом-класса</a></li>
            <li><a href="#">Угловые кухни</a></li>
            <li><a href="#">Кухни из МДФ</a></li>
            <li><a href="#">Кухни из пластика</a></li>
            <li><a href="#">Кухни эмаль</a></li>
            <li><a href="#">Кухонные уголки</a></li>
            <li><a href="#">Столы и стулья</a></li>
            <li><a href="#">Столешницы</a></li>
            <li><a href="#">Фасады</a></li>
        </ul>

        <ul class="col-md-2 list-unstyled">Мягкая мебель
            <li><a href="#">Готовый дизайн</a></li>
            <li><a href="#">Диваны еврокнижки</a></li>
            <li><a href="#">Диваны угловые</a></li>
            <li><a href="#">Диваны книжки</a></li>
            <li><a href="#">Детские диваны</a></li>
            <li><a href="#">Диваны аккордеон</a></li>
            <li><a href="#">Диван клик-кляк</a></li>
            <li><a href="#">Выкатные диваны</a></li>
            <li><a href="#">Тахта, софа, кушетка</a></li>
            <li><a href="#">Кресла</a></li>
            <li><a href="#">Пуфы</a></li>
            <li><a href="#">Офисные диваны</a></li>
            <li><a href="#">Диваны раскладушки</a></li>
            <li><a href="#">Диваны дельфины</a></li>
        </ul>

        <ul class="list-unstyled col-md-2">Детская
            <li><a href="#">Детские комнаты</a></li>
            <li><a href="#">Детские кровати</a></li>
            <li><a href="#">Шкафы-купе</a></li>
            <li><a href="#">Двухъярусные кроват и кровати-чердаки</a></li>
            <li><a href="#">Для девочек</a></li>
            <li><a href="#">Книжные шкафы и библиотеки</a></li>
            <li><a href="#">Детские диваны</a></li>
            <li><a href="#">Для мальчиков</a></li>
            <li><a href="#">Детские матрасы</a></li>
            <li><a href="#">Стеллажи и полки</a></li>
        </ul>

        <ul class="list-unstyled col-md-2">Гостиная
            <li><a href="#">Модульные системы</a></li>
            <li><a href="#">Стенки для гостиной</a></li>
            <li><a href="#">Тумбы под ТВ</a></li>
            <li><a href="#">Книжные шкафы и библиотеки</a></li>
            <li><a href="#">Стеллажи и полки</a></li>
            <li><a href="#">Журнальные столики</a></li>
            <li><a href="#">Угловые шкафы</a></li>
            <li><a href="#">Шкафы распашные</a></li>
        </ul>

        <ul class="list-unstyled col-md-2">Прихожая
            <li><a href="#">Прихожие</a></li>
            <li><a href="#">Шкафы-купе</a></li>
            <li><a href="#">Угловые прихожие</a></li>
            <li><a href="#">Маленькие прихожие</a></li>
            <li><a href="#">Модульные прихожие</a></li>
            <li><a href="#">Тумбы для обуви</a></li>
            <li><a href="#">Угловые шкафы</a></li>
            <li><a href="#">Шкафы распашные</a></li>
            <li><a href="#">Шкафы-купе на заказ</a></li>
            <li><a href="#">Комоды</a></li>
            <li><a href="#">Модульные гардеробные</a></li>
        </ul>
    </div>
    <hr>
    <div class="pull-right">&copy; 2008-2016 «Классика Кухни»</div>
    <a class="pull-left" href="./main.html">
        <img src="../../img/logo.png" alt="Логотип">
    </a>
    <ul class="contacts list-unstyled">
        <li>Онлайн-маркет готовых решений для вашего дома</li>
        <li>8(495) 212-90-968, (800) 500-24-53</li>
        <li>info@classicakuhni.ru</li>
        <li>Skype: kk_i-shop</li>
    </ul>


</footer>