<div class="item">
    <a class="gallery_photo" href="#">
        <div class="item_description">фотогалерея <br>
            реализованных проектов
        </div>
        <div class="item_frame"></div>
    </a>
</div>