<div class="item">
    <a class="gallery_discount" href="#">
        <div class="item_description">текущие акции
            <br>смотреть
        </div>
        <div class="item_frame"></div>
    </a>
</div>