<div class="item">
    <a class="gallery_catalog_kitchen" href="#">
        <div class="item_description">
            каталог кухонь
        </div>
        <div class="item_frame"></div>
    </a>
</div>