<div class="item">
    <a class="gallery_wardrobe" href="#">
        <div class="item_description">3D конструктор <br>
            шкафов
        </div>
        <div class="item_frame"></div>
    </a>
</div>