<div class="item">
    <a class="gallery_catalog_cupboard" href="#">
        <div class="item_description">
            каталог шкафов
        </div>
        <div class="item_frame"></div>
    </a>
</div>