<div class="item">
    <a class="gallery_article" href="#">
        <div class="item_description">полезные <br>
            статьи
        </div>
        <div class="item_frame"></div>
    </a>
</div>