<div class="item">
    <a class="gallery_kitchen" href="#">
        <div class="item_description">3D конструктор <br>
            кухни
        </div>
        <div class="item_frame"></div>
    </a>
</div>