<div class="item">
    <a class="gallery_video" href="#">
        <div class="item_description">Видео-зал <br>
            Доступно и обо всем
        </div>
        <div class="item_frame"></div>
    </a>
</div>