<header>
    <div class="row">
        <div class="header_logo col-md-3">
            <a  class="pull-left" href="./main.html">
                <img src="../../img/logo.png" alt="Логотип">
            </a>
            <ul class="list-unstyled">многоканальный
                <li><span>8 (495)</span>212-90-96</li>
                <li><span>8 (800)</span>500-24-53</li>
                <li><a href="#" class="header_modal" data-toggle="modal" data-target=".header_logo_callback">&nbsp;Обратный звонок</a></li>
            </ul>
        </div>
        <div></div>
        <div class="header_search col-md-6">
            <h2><span>Онлайн-маркет</span> готовых решений для вашего дома</h2>
            <form class="form-inline pull-right">
                <div class="form-group">
                    <input type="text" class="form-control" id="" placeholder="Поиск">
                    <button type="submit" class="btn btn-default">
                        <img src="../../img/default.png" alt="Поиск">
                    </button>
                </div>
            </form>
            <p><time>10.00 - 20.00</time>&nbsp;Ежедневно</p>
        </div>
        <div class="header_user col-md-3">
            <a href="#" class="header_modal header_search_enter" data-toggle="modal" data-target=".header_user_enter">&nbsp;Вход</a>
            <a href="#" class="header_modal" data-toggle="modal" data-target=".header_user_registration">Регистрация</a>
            <br>
            <span class="header_user_product"><span>1</span> товар</span>
            <span class="header_user_price"><span>37 700</span> руб</span>
            <a class="header_search_basket" href="#"><img src="../../img/icon-basket.png" alt="Корзина"></a>

        </div>
    </div>
</header>