<header>
    <div class="row">
        <div class="header_logo col-xs-3">
            <a class="pull-left" href="./main.html">
                <img src="../../img/logo.png" alt="Логотип">
            </a>
            <ul class="list-unstyled">многоканальный
                <li><span>8 (495)</span>212-90-96</li>
                <li><span>8 (800)</span>500-24-53</li>
                <li><a href="#" class="header_modal" data-toggle="modal" data-target=".header_logo_callback">&nbsp;Обратный
                        звонок</a></li>
            </ul>
        </div>
        <div class="header_search col-xs-6">
            <h2><span>Онлайн-маркет</span> готовых решений для вашего дома</h2>
            <form class="form-inline pull-right">
                <div class="form-group">
                    <input type="text" class="form-control" id="" placeholder="Поиск">
                    <button type="submit" class="btn btn-default">
                        <i class="material-icons">search</i>
                    </button>
                </div>
            </form>
            <p>
                <time>10.00 - 20.00</time>
                &nbsp;Ежедневно
            </p>
        </div>
        <div class="header_user col-xs-3">
            <div class="header_user_ident">
                <a href="#" class="header_modal header_user_ident-enter" data-toggle="modal"
                   data-target=".header_user_enter">&nbsp;Вход</a>
                <a href="#" class="header_modal" data-toggle="modal"
                   data-target=".header_user_registration">Регистрация</a>
            </div>
            <div class="header_user_order">
                <span class="header_user_order-product"><span>1</span> товар</span>
                <span class="header_user_order-price"><span>37 700</span> руб</span>
                <a class="basket" href="./basket.html"><img src="../../img/icon-basket.png" alt="Корзина"></a>
            </div>
        </div>
    </div>

    <nav class="navbar navbar-default">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="navigation_buyer navbar-left">
                <li><a href="#"><i class="material-icons">reorder</i>Покупателю</a>
                    <ul class="nav_dropdown list-unstyled">
                        <li><a href="./about.html">О компании</a></li>
                        <li><a href="#">Новости</a></li>
                        <li><a href="#">Преимущества</a></li>
                        <li><a href="./reviews.html">Отзывы</a></li>
                        <li><a href="./know.html">Полезно знать</a></li>
                        <li><a href="./shipping.html">Доставка</a></li>
                        <li><a href="#">Вопрос-Ответ</a></li>
                        <li><a href="#">Видео</a></li>
                        <li><a href="#">Контакты</a></li>
                        <li><a href="#">Вакансии</a></li>
                        <li><a href="#">Для диллеров</a></li>
                    </ul>
                </li>
            </ul>


            <ul class="navigation nav navbar-nav">
                <li><a href="#">Кухня</a>
                    <ul class="nav_dropdown list-unstyled">
                        <li><a href="#">Кухни эконом-класса</a></li>
                        <li><a href="#">Угловые кухни</a></li>
                        <li><a href="#">Кухни из МДФ</a></li>
                        <li><a href="#">Кухни из пластика</a></li>
                        <li><a href="#">Кухни эмаль</a></li>
                        <li><a href="#">Кухонные уголки</a></li>
                        <li><a href="#">Столы и стулья</a></li>
                        <li><a href="#">Столешницы</a></li>
                        <li><a href="#">Фасады</a></li>
                        <li><a class="text-uppercase" href="#"><strong>Кухня под заказ</strong></a></li>
                    </ul>
                </li>
                <li><a href="#">Гостинная</a>
                    <ul class="nav_dropdown list-unstyled">
                        <li><a href="#">Модульные системы</a></li>
                        <li><a href="#">Стенки для гостиной</a></li>
                        <li><a href="#">Тумбы под ТВ</a></li>
                        <li><a href="#">Книжные шкафы и библиотеки</a></li>
                        <li><a href="#">Стеллажи и полки</a></li>
                        <li><a href="#">Журнальные столики</a></li>
                        <li><a href="#">Угловые шкафы</a></li>
                        <li><a href="#">Шкафы распашные</a></li>
                        <li><a class="text-uppercase" href="#"><strong>Гостинная под заказ</strong></a></li>
                    </ul>
                </li>
                <li><a href="#">Прихожая</a>
                    <ul class="nav_dropdown list-unstyled">
                        <li><a href="#">Прихожие</a></li>
                        <li><a href="#">Шкафы-купе</a></li>
                        <li><a href="#">Угловые прихожие</a></li>
                        <li><a href="#">Маленькие прихожие</a></li>
                        <li><a href="#">Модульные прихожие</a></li>
                        <li><a href="#">Тумбы для обуви</a></li>
                        <li><a href="#">Угловые шкафы</a></li>
                        <li><a href="#">Шкафы распашные</a></li>
                        <li><a href="#">Шкафы-купе на заказ</a></li>
                        <li><a href="#">Комоды</a></li>
                        <li><a href="#">Модульные гардеробные</a></li>
                        <li><a class="text-uppercase" href="#"><strong>Прихожая под заказ</strong></a></li>
                    </ul>

                </li>
                <li class="navigation_not_sublist"><a href="#">Шкафы</a></li>
            </ul>

            <ul class="navigation_buyer navbar-right">
                <li><a href="#">мебель под заказ <i class="material-icons">reorder</i></a>
                    <ul class="nav_dropdown list-unstyled">
                        <li><a href="./about.html">О компании</a></li>
                        <li><a href="#">Новости</a></li>
                        <li><a href="#">Преимущества</a></li>
                        <li><a href="#">Отзывы</a></li>
                        <li><a href="#">Полезно знать</a></li>
                        <li><a href="#">Доставка</a></li>
                        <li><a href="#">Вопрос-Ответ</a></li>
                        <li><a href="#">Видео</a></li>
                        <li><a href="#">Доставка</a></li>
                        <li><a href="#">Контакты</a></li>
                        <li><a href="#">Вакансии</a></li>
                        <li><a href="#">Для диллеров</a></li>
                    </ul>
                </li>
            </ul>

        </div><!-- /.navbar-collapse -->
    </nav>

    <!--<nav class="navbar navbar-default">
            &lt;!&ndash; Brand and toggle get grouped for better mobile display &ndash;&gt;
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            &lt;!&ndash; Collect the nav links, forms, and other content for toggling &ndash;&gt;
            <div class="collapse navbar-collapse" id="nav">
                <ul class="navigation_buyer list-unstyled col-sm-3 col-xs-12">
                    <li><a href="#"><i class="material-icons">reorder</i>Покупателю</a>
                        <ul class="nav_dropdown list-unstyled">
                            <li><a href="./about.html">О компании</a></li>
                            <li><a href="#">Новости</a></li>
                            <li><a href="#">Преимущества</a></li>
                            <li><a href="#">Отзывы</a></li>
                            <li><a href="#">Полезно знать</a></li>
                            <li><a href="#">Доставка</a></li>
                            <li><a href="#">Вопрос-Ответ</a></li>
                            <li><a href="#">Видео</a></li>
                            <li><a href="#">Доставка</a></li>
                            <li><a href="#">Контакты</a></li>
                            <li><a href="#">Вакансии</a></li>
                            <li><a href="#">Для диллеров</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="navigation list-unstyled col-sm-9 col-xs-12">
                    <li><a href="#">Мягкая мебель</a>
                         <ul class="nav_dropdown list-unstyled">
                             <li><a href="#">Готовый дизайн</a></li>
                             <li><a href="#">Диваны еврокнижки</a></li>
                             <li><a href="#">Диваны угловые</a></li>
                             <li><a href="#">Диваны книжки</a></li>
                             <li><a href="#">Детские диваны</a></li>
                             <li><a href="#">Диваны аккордеон</a></li>
                             <li><a href="#">Диван клик-кляк</a></li>
                             <li><a href="#">Выкатные диваны</a></li>
                             <li><a href="#">Тахта, софа, кушетка</a></li>
                             <li><a href="#">Кресла</a></li>
                             <li><a href="#">Пуфы</a></li>
                             <li><a href="#">Офисные диваны</a></li>
                             <li><a href="#">Диваны раскладушки</a></li>
                             <li><a href="#">Диваны дельфины</a></li>
                         </ul>

                    </li>
                    <li><a href="#">Кухня</a>
                         <ul class="nav_dropdown list-unstyled">
                             <li><a href="#">Кухни эконом-класса</a></li>
                             <li><a href="#">Угловые кухни</a></li>
                             <li><a href="#">Кухни из МДФ</a></li>
                             <li><a href="#">Кухни из пластика</a></li>
                             <li><a href="#">Кухни эмаль</a></li>
                             <li><a href="#">Кухонные уголки</a></li>
                             <li><a href="#">Столы и стулья</a></li>
                             <li><a href="#">Столешницы</a></li>
                             <li><a href="#">Фасады</a></li>
                         </ul>
                    </li>
                    <li><a href="#">Гостинная</a>
                         <ul class="nav_dropdown list-unstyled">
                             <li><a href="#">Модульные системы</a></li>
                             <li><a href="#">Стенки для гостиной</a></li>
                             <li><a href="#">Тумбы под ТВ</a></li>
                             <li><a href="#">Книжные шкафы и библиотеки</a></li>
                             <li><a href="#">Стеллажи и полки</a></li>
                             <li><a href="#">Журнальные столики</a></li>
                             <li><a href="#">Угловые шкафы</a></li>
                             <li><a href="#">Шкафы распашные</a></li>
                         </ul>
                    </li>
                    <li><a href="#">Прихожая</a>
                        <ul class="nav_dropdown list-unstyled">
                            <li><a href="#">Прихожие</a></li>
                            <li><a href="#">Шкафы-купе</a></li>
                            <li><a href="#">Угловые прихожие</a></li>
                            <li><a href="#">Маленькие прихожие</a></li>
                            <li><a href="#">Модульные прихожие</a></li>
                            <li><a href="#">Тумбы для обуви</a></li>
                            <li><a href="#">Угловые шкафы</a></li>
                            <li><a href="#">Шкафы распашные</a></li>
                            <li><a href="#">Шкафы-купе на заказ</a></li>
                            <li><a href="#">Комоды</a></li>
                            <li><a href="#">Модульные гардеробные</a></li>
                        </ul>

                    </li>
                    <li><a href="#">Детская</a>
                         <ul class="nav_dropdown list-unstyled">
                             <li><a href="#">Детские комнаты</a></li>
                             <li><a href="#">Детские кровати</a></li>
                             <li><a href="#">Шкафы-купе</a></li>
                             <li><a href="#">Двухъярусные кроват и кровати-чердаки</a></li>
                             <li><a href="#">Для девочек</a></li>
                             <li><a href="#">Книжные шкафы и библиотеки</a></li>
                             <li><a href="#">Детские диваны</a></li>
                             <li><a href="#">Для мальчиков</a></li>
                             <li><a href="#">Детские матрасы</a></li>
                             <li><a href="#">Стеллажи и полки</a></li>
                         </ul>
                    </li>
                    <li class="navigation_not_sublist"><a href="#">Ванная</a></li>
                    <li class="navigation_not_sublist"><a href="#">Шкафы</a></li>
                </ul>


            </div>&lt;!&ndash; /.navbar-collapse &ndash;&gt;
    </nav>-->

</header>