<div class="modal fade header_logo_callback" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            Обартный звонок
        </div>
    </div>
</div>

<div class="modal fade header_user_enter" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            Вход
        </div>
    </div>
</div>

<div class="modal fade header_user_registration" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            Регистрация
        </div>
    </div>
</div>