<div class="modal fade header_logo_callback" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="material-icons">close</i>
                </button>
            </div>
            <div class="modal-body">
                <h3>Обратный звонок</h3>
                <form>
                    <div class="form-group">
                        <label for="name">ФИО</label>
                        <input type="text" class="form-control" id="name">
                    </div>
                    <div class="form-group">
                        <label for="tel">Телефон</label>
                        <input type="tel" class="form-control tel" id="tel">
                    </div>
                    <div class="form-group">
                        <label for="question">Вопрос</label>
                        <textarea class="form-control" rows="3" id="question"></textarea>
                    </div>
                    <button type="submit" class="btn btn-block">Перезвоните мне</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade header_user_enter" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="material-icons">close</i>
                </button>
            </div>
            <div class="modal-body">
                <h3>Вход</h3>
                <form>
                    <div class="form-group">
                        <label for="login">Ваш логин</label>
                        <input type="text" class="form-control" id="login">
                    </div>
                    <div class="form-group">
                        <label for="password">Пароль</label>
                        <input type="password" class="form-control" id="password">
                    </div>
                    <button type="submit" class="btn btn-block">войти</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade header_user_registration" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="material-icons">close</i>
                </button>
            </div>
            <div class="modal-body">
                <h3>Регистрация</h3>
                <form>
                    <div class="form-group">
                        <label for="inputLogin">Логин <span>(латинскими буквами)</span></label>
                        <input type="text" class="form-control" id="inputLogin">
                    </div>
                    <div class="form-group">
                        <label for="inputEmail">Email</label>
                        <input type="email" class="form-control" id="inputEmail">
                    </div>
                    <div class="form-group">
                        <label for="inputPassword">Пароль</label>
                        <input type="password" class="form-control" id="inputPassword">
                    </div>
                    <div class="form-group">
                        <label for="confirmPassword">Повторите пароль</label>
                        <input type="password" class="form-control" id="confirmPassword">
                    </div>
                    <button type="submit" class="btn btn-block">зарегистироваться</button>
                    <div class="valid registration invisible">
                        Вы были успешно зарегистрированы
                    </div>
                    <div class="invalid registration invisible">
                        Логин должен быть длиннее трех символов
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal_add_reviews modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">

                <form>
                    <h3>добавить отзыв</h3>
                    <div class="form-group">
                        <label for="reviewsLogin">Логин/Email</label>
                        <input type="text" class="form-control" id="reviewsLogin">
                    </div>
                    <div class="form-group">
                        <label for="reviewsContent">Отзыв</label>
                        <textarea id="reviewsContent" class="form-control" rows="5"></textarea>
                    </div>

                    <output name="result">
                        <div class="form-photo">
                            <img width="90" src="../../img/6.png" alt="">
                            <i class="material-icons">&#xE5CD;</i>
                        </div>
                        <div class="form-photo">
                            <img width="90" src="../../img/6.png" alt="">
                            <i class="material-icons">&#xE5CD;</i>
                        </div>
                        <div class="form-photo">
                            <img width="90" src="../../img/6.png" alt="">
                            <i class="material-icons">&#xE5CD;</i>
                        </div>
                        <div class="form-photo">
                            <img width="90" src="../../img/6.png" alt="">
                            <i class="material-icons">&#xE5CD;</i>
                        </div>
                        <div class="form-photo">
                            <img width="90" src="../../img/6.png" alt="">
                            <i class="material-icons">&#xE5CD;</i>
                        </div>
                        <div class="form-photo">
                            <img width="90" src="../../img/6.png" alt="">
                            <i class="material-icons">&#xE5CD;</i>
                        </div>
                        <div class="form-photo">
                            <img width="90" src="../../img/6.png" alt="">
                            <i class="material-icons">&#xE5CD;</i>
                        </div>
                        <div class="form-photo">
                            <img width="90" src="../../img/6.png" alt="">
                            <i class="material-icons">&#xE5CD;</i>
                        </div>
                    </output>

                    <div class="form-group form-photo">
                        <label for="exampleInputFile">Добавить фото</label>
                        <input type="file" id="exampleInputFile">
                    </div>



                    <button type="submit" class="btn-orange btn btn-block text-uppercase color_brown">отправить</button>

                </form>
            </div>

        </div>
    </div>
</div>

<div class="modal fade modal_measurer" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <form>
                    <h3>Вызвать замерщика</h3>
                    <div class="form-group">
                        <label for="measurer1">Логин/Email</label>
                        <input type="text" class="form-control" id="measurer1">
                    </div>
                    <div class="form-group">
                        <label for="measurer2">Телефон</label>
                        <input class="form-control tel" id="measurer2">
                    </div>
                    <div class="form-group">
                        <label for="measurer3">Комментарий</label>
                        <textarea class="form-control" id="measurer3" rows="5" placeholder="Хочу заказть бесплатный замер"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="measurer4">Выберете близжайщий магазин</label>
                        <select class="form-control" id="measurer4">
                            <option value="" disabled selected>Выберать</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>

                    <button type="submit" class="btn-orange btn btn-block text-uppercase color_brown">отправить заявку</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade modal_free_project" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <form>
                    <h3>Бесплатный проект</h3>
                    <div class="form-group">
                        <label for="freeProject1">Логин/Email</label>
                        <input type="text" class="form-control" id="freeProject1">
                    </div>
                    <div class="form-group">
                        <label for="freeProject2">Телефон</label>
                        <input class="form-control tel" id="freeProject2">
                    </div>
                    <div class="form-group">
                        <label for="freeProject3">Комментарий</label>
                        <textarea class="form-control" id="freeProject3" rows="5" placeholder="Хочу заказть бесплатный проект"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="freeProject4">Выберете близжайщий магазин</label>
                        <select class="form-control" id="freeProject4">
                            <option value="" disabled selected>Выберать</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>

                    <button type="submit" class="btn-orange btn btn-block text-uppercase color_brown">отправить заявку</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade modal_order_model" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <form>
                    <h3>Заказть товар</h3>
                    <div class="form-group">
                        <label for="orderModel1">Логин/Email</label>
                        <input type="text" class="form-control" id="orderModel1">
                    </div>
                    <div class="form-group">
                        <label for="orderModel2">Телефон</label>
                        <input class="form-control tel" id="orderModel2">
                    </div>
                    <div class="form-group">
                        <label for="orderModel3">Комментарий</label>
                        <textarea class="form-control" id="orderModel3" rows="5" placeholder="Хочу заказть бесплатный проект"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="orderModel4">Выберете близжайщий магазин</label>
                        <select class="form-control" id="orderModel4">
                            <option value="" disabled selected>Выберать</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>

                    <button type="submit" class="btn-orange btn btn-block text-uppercase color_brown">отправить заявку</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade modal_show_img" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <!--<div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="material-icons">&#xE5CD;</i></button>
            </div>-->
            <img class="modal_show_img" src="../../img/product.png" alt="Продукт">

        </div>
    </div>
</div>