<!--
<div class="slider single-item">
    <div>1</div>
    <div>2</div>
    <div>3</div>
    <div>4</div>
    <div>5</div>
    <div>6</div>
</div>-->
<section class="slider">
    <article class="assortment">
        <div class="slider_panel" id="nav">
            <button id="productsPrev" class="btn-prev btn btn-default"><i class="material-icons">navigate_before</i>
            </button>
            <button id="productsNext" class="btn-next btn btn-default"><i class="material-icons">navigate_next</i>
            </button>
        </div>

        <h2 class="">
            Товары по акции
        </h2>
        <hr>

        <div class="clearfix"></div>
        <div id="products">
            <div class="item">
                <div class="product_img"><img src="../../img/product.png" alt="Продукт"></div>
                <div class="product_name">Куба белая</div>
                <form action="" class="pull-right">
                    <button type="submit" class="basket"><img src="../../img/icon-basket.png" alt="Корзина"></button>
                </form>
                <div class="product_price"><span>183 000</span>руб <span class="product_price-old">193 000руб</span>
                </div>
                <div class="product-new">NEW</div>
                <div class="product-discount">-20%</div>
                <a href="#" class="basket"><img src="../../img/plus.png" alt=""></a>
            </div>
            <div class="item discount">
                <div class="product_img"><img src="../../img/product.png" alt="Продукт"></div>
                <div class="product_name">Куба белая</div>
                <form action="" class="pull-right">
                    <button type="submit" class="basket"><img src="../../img/icon-basket.png" alt="Корзина"></button>
                </form>
                <div class="product_price"><span>183 000</span>руб <span class="product_price-old">193 000руб</span>
                </div>
                <div class="product-new">NEW</div>
                <div class="product-discount">-20%</div>
                <a href="#" class="basket"><img src="../../img/plus.png" alt=""></a>
            </div>
            <div class="item new">
                <div class="product_img"><img src="../../img/product.png" alt="Продукт"></div>
                <div class="product_name">Куба белая</div>
                <form action="" class="pull-right">
                    <button type="submit" class="basket"><img src="../../img/icon-basket.png" alt="Корзина"></button>
                </form>
                <div class="product_price"><span>183 000</span>руб <span class="product_price-old">193 000руб</span>
                </div>
                <div class="product-new">NEW</div>
                <div class="product-discount">-20%</div>
                <a href="#" class="basket"><img src="../../img/plus.png" alt=""></a>
            </div>
            <div class="item new discount">
                <div class="product_img"><img src="../../img/product.png" alt="Продукт"></div>
                <div class="product_name">Куба белая</div>
                <form action="" class="pull-right">
                    <button type="submit" class="basket"><img src="../../img/icon-basket.png" alt="Корзина"></button>
                </form>
                <div class="product_price"><span>183 000</span>руб <span class="product_price-old">193 000руб</span>
                </div>
                <div class="product-new">NEW</div>
                <div class="product-discount">-20%</div>
                <a href="#" class="basket"><img src="../../img/plus.png" alt=""></a>
            </div>
        </div>
    </article>
    <article class="gallery">
        <div class="slider_panel" id="nav">
            <button id="designerPrev" class="lera btn-prev btn btn-default"><i class="material-icons">navigate_before</i>
            </button>
            <button id="designerNext" class="btn-next btn btn-default"><i class="material-icons">navigate_next</i></button>
        </div>

        <h2 class="">
            конструктор 3D онлайн
        </h2>
        <hr>
        <div class="clearfix"></div>
        <div id="designer">
            <div class="item">
                <a class="gallery_kitchen" href="#">
                    <div class="item_description">3D конструктор <br>
                        кухни
                    </div>
                    <div class="item_frame"></div>
                </a>
            </div>
            <div class="item">
                <a class="gallery_wardrobe" href="#">
                    <div class="item_description">3D конструктор <br>
                        шкафов
                    </div>
                    <div class="item_frame"></div>
                </a>
            </div>
            <div class="item">
                <a class="gallery_bank" href="#">
                    <div class="item_description">банк проектов <br>
                        3D
                    </div>
                    <div class="item_frame"></div>
                </a>
            </div>
            <div class="item">
                <a class="gallery_kitchen" href="#">
                    <div class="item_description">3D конструктор <br>
                        кухни
                    </div>
                    <div class="item_frame"></div>
                </a>
            </div>
            <div class="item">
                <a class="gallery_wardrobe" href="#">
                    <div class="item_description">3D конструктор <br>
                        шкафов
                    </div>
                    <div class="item_frame"></div>
                </a>
            </div>
            <div class="item">
                <a class="gallery_bank" href="#">
                    <div class="item_description">банк проектов <br>
                        3D
                    </div>
                    <div class="item_frame"></div>
                </a>
            </div>


        </div>
    </article>
    <article class="gallery">
        <div class="slider_panel" id="nav">
            <button id="encyclopediaPrev" class="lera btn-prev btn btn-default"><i class="material-icons">navigate_before</i>
            </button>
            <button id="encyclopediaNext" class="btn-next btn btn-default"><i class="material-icons">navigate_next</i></button>
        </div>

        <h2 class="">
            конструктор 3D онлайн
        </h2>
        <hr>
        <div class="clearfix"></div>
        <div id="encyclopedia">
            <div class="item">
                <a class="gallery_article" href="#">
                    <div class="item_description">полезные <br>
                        статьи
                    </div>
                    <div class="item_frame"></div>
                </a>
            </div>
            <div class="item">
                <a class="gallery_video" href="#">
                    <div class="item_description">Видео-зал <br>
                        Доступно и обо всем
                    </div>
                    <div class="item_frame"></div>
                </a>
            </div>
            <div class="item">
                <a class="gallery_photo" href="#">
                    <div class="item_description">фотогалерея <br>
                        реализованных проектов
                    </div>
                    <div class="item_frame"></div>
                </a>
            </div>

        </div>
    </article>
</section>