<article class="assortment">
    <div class="slider_panel" id="nav">
        <button id="productsPrev" class="btn-prev btn btn-default"><i class="material-icons">navigate_before</i>
        </button>
        <button id="productsNext" class="btn-next btn btn-default"><i class="material-icons">navigate_next</i>
        </button>
    </div>

    <h2>
        <%= sliderTitle %>
    </h2>
    <hr>

    <div class="clearfix"></div>
    <div id="products">
        <figure class="item">
            <a href="#" class="product_img"><img src="../../img/product.png" alt="Продукт"></a>
            <a href="#" class="product_name">Куба белая</a>
            <form action="" class="pull-right">
                <button type="submit" class="basket"><img src="../../img/icon-basket.png" alt="Корзина"></button>
            </form>
            <div class="product_price">
                <span>183 000</span>руб
                <span class="product_price-old">193 000руб</span>
            </div>

            <div class="product-new">NEW</div>
            <div class="product-discount">-20%</div>
            <buttom class="basket product_plus" data-toggle="modal" data-target=".modal_show_img">
                <img src="../../img/plus.png" alt="">
            </buttom>
        </figure>
        <figure class="item new">
            <a href="#" class="product_img"><img src="../../img/product.png" alt="Продукт"></a>
            <a href="#" class="product_name">Куба белая</a>
            <form action="" class="pull-right">
                <button type="submit" class="basket"><img src="../../img/icon-basket.png" alt="Корзина"></button>
            </form>
            <div class="product_price">
                <span>183 000</span>руб
                <span class="product_price-old">193 000руб</span>
            </div>

            <div class="product-new">NEW</div>
            <div class="product-discount">-20%</div>
            <buttom class="basket product_plus" data-toggle="modal" data-target=".modal_show_img">
                <img src="../../img/plus.png" alt="">
            </buttom>
        </figure>
        <figure class="item discount">
            <a href="#" class="product_img"><img src="../../img/product.png" alt="Продукт"></a>
            <a href="#" class="product_name">Куба белая</a>
            <form action="" class="pull-right">
                <button type="submit" class="basket"><img src="../../img/icon-basket.png" alt="Корзина"></button>
            </form>
            <div class="product_price">
                <span>183 000</span>руб
                <span class="product_price-old">193 000руб</span>
            </div>

            <div class="product-new">NEW</div>
            <div class="product-discount">-20%</div>
            <buttom class="basket product_plus" data-toggle="modal" data-target=".modal_show_img">
                <img src="../../img/plus.png" alt="">
            </buttom>
        </figure>
        <figure class="item new discount">
            <a href="#" class="product_img"><img src="../../img/product.png" alt="Продукт"></a>
            <a href="#" class="product_name">Куба белая</a>
            <form action="" class="pull-right">
                <button type="submit" class="basket"><img src="../../img/icon-basket.png" alt="Корзина"></button>
            </form>
            <div class="product_price">
                <span>183 000</span>руб
                <span class="product_price-old">193 000руб</span>
            </div>

            <div class="product-new">NEW</div>
            <div class="product-discount">-20%</div>
            <buttom class="basket product_plus" data-toggle="modal" data-target=".modal_show_img">
                <img src="../../img/plus.png" alt="">
            </buttom>
        </figure>
        <figure class="item">
            <a href="#" class="product_img"><img src="../../img/product.png" alt="Продукт"></a>
            <a href="#" class="product_name">Куба белая</a>
            <form action="" class="pull-right">
                <button type="submit" class="basket"><img src="../../img/icon-basket.png" alt="Корзина"></button>
            </form>
            <div class="product_price">
                <span>183 000</span>руб
                <span class="product_price-old">193 000руб</span>
            </div>

            <div class="product-new">NEW</div>
            <div class="product-discount">-20%</div>
            <buttom class="basket product_plus" data-toggle="modal" data-target=".modal_show_img">
                <img src="../../img/plus.png" alt="">
            </buttom>
        </figure>
        <figure class="item">
            <a href="#" class="product_img"><img src="../../img/product.png" alt="Продукт"></a>
            <a href="#" class="product_name">Куба белая</a>
            <form action="" class="pull-right">
                <button type="submit" class="basket"><img src="../../img/icon-basket.png" alt="Корзина"></button>
            </form>
            <div class="product_price">
                <span>183 000</span>руб
                <span class="product_price-old">193 000руб</span>
            </div>

            <div class="product-new">NEW</div>
            <div class="product-discount">-20%</div>
            <buttom class="basket product_plus" data-toggle="modal" data-target=".modal_show_img">
                <img src="../../img/plus.png" alt="">
            </buttom>
        </figure>





    </div>
</article>
