<!--
<div class="slider single-item">
    <div>1</div>
    <div>2</div>
    <div>3</div>
    <div>4</div>
    <div>5</div>
    <div>6</div>
</div>-->
<section class="slider">
    <article class="assortment">
        <div class="pull-right" id="nav">
            <button id="productsPrev" class="btn-prev btn btn-default"><i class="material-icons">navigate_before</i></button>
            <button id="productsNext" class="btn-next btn btn-default"><i class="material-icons">navigate_next</i></button>
        </div>

        <h2 class="">
            Товары по акции
            <!--<hr>-->
        </h2>
        <div class="clearfix"></div>
        <div id="products">
            <div class="product">
                <div class="product_img"><img src="../../img/product.png" alt="Продукт"></div>
                <div class="product_name">Куба белая</div>
                <form action="" class="pull-right">
                    <button type="submit" class="basket"><img src="../../img/icon-basket.png" alt="Корзина"></button>
                </form>
                <div class="product_price"><span>183 000</span>руб <span class="product_price-old">193 000руб</span></div>
                <div class="product-new">NEW</div>
                <div class="product-discount">-20%</div>
                <a href="#" class="basket"><img src="../../img/plus.png" alt=""></a>
            </div>
            <div class="product discount">
                <div class="product_img"><img src="../../img/product.png" alt="Продукт"></div>
                <div class="product_name">Куба белая</div>
                <form action="" class="pull-right">
                    <button type="submit" class="basket"><img src="../../img/icon-basket.png" alt="Корзина"></button>
                </form>
                <div class="product_price"><span>183 000</span>руб <span class="product_price-old">193 000руб</span></div>
                <div class="product-new">NEW</div>
                <div class="product-discount">-20%</div>
                <a href="#" class="basket"><img src="../../img/plus.png" alt=""></a>
            </div>
            <div class="product new">
                <div class="product_img"><img src="../../img/product.png" alt="Продукт"></div>
                <div class="product_name">Куба белая</div>
                <form action="" class="pull-right">
                    <button type="submit" class="basket"><img src="../../img/icon-basket.png" alt="Корзина"></button>
                </form>
                <div class="product_price"><span>183 000</span>руб <span class="product_price-old">193 000руб</span></div>
                <div class="product-new">NEW</div>
                <div class="product-discount">-20%</div>
                <a href="#" class="basket"><img src="../../img/plus.png" alt=""></a>
            </div>
            <div class="product new discount">
                <div class="product_img"><img src="../../img/product.png" alt="Продукт"></div>
                <div class="product_name">Куба белая</div>
                <form action="" class="pull-right">
                    <button type="submit" class="basket"><img src="../../img/icon-basket.png" alt="Корзина"></button>
                </form>
                <div class="product_price"><span>183 000</span>руб <span class="product_price-old">193 000руб</span></div>
                <div class="product-new">NEW</div>
                <div class="product-discount">-20%</div>
                <a href="#" class="basket"><img src="../../img/plus.png" alt=""></a>
            </div>
        </div>
    </article>
    <article>
        <div class="pull-right" id="nav">
            <button id="lera3" class="lera btn-prev btn btn-default"><i class="material-icons">navigate_before</i></button>
            <button id="lera4" class="btn-next btn btn-default"><i class="material-icons">navigate_next</i></button>
        </div>

        <h2 class="">
            конструктор 3D онлайн
            <!--<hr>-->
        </h2>
        <div class="clearfix"></div>
        <div id="dashboard1">
            <div class="product">

            </div>



        </div>
    </article>
</section>