<!--
<div class="slider single-item">
    <div>1</div>
    <div>2</div>
    <div>3</div>
    <div>4</div>
    <div>5</div>
    <div>6</div>
</div>-->
<section class="assortment">
    
    <div id="nav">
        <button class="btn-unslick">Unslick</button>
        <button class="btn-add">Add Panel</button>
        <button class="btn-prev">Prev</button>
        <button class="btn-next">Next</button>
    </div>

    <div class="product">
        <div class="product_img"><img src="../../img/product.png" alt="Продукт"></div>
        <div class="product_name">Куба белая</div>
        <form action="" class="pull-right">
            <button type="submit" class="basket"><img src="../../img/icon-basket.png" alt="Корзина"></button>
        </form>
        <div class="product_price"><span>183 000</span>руб <span class="product_price-old">193 000руб</span></div>
        <div class="product-new">NEW</div>
        <div class="product-discount">-20%</div>
        <a href="#" class="basket"><img src="../../img/plus.png" alt=""></a>
    </div>

</section>