.category {

  .category_opshions_links {
    display: block;
    height: 70px;
    border: 1px solid @second-color;
    border-radius: 3px;
    color: @main-color;
    text-decoration: none;
  }

  .img-wrap {
    height: 100%;
    vertical-align: middle;
  }

  .text-wrap {
    padding-left: 60px;
    height: 100%;
  }

  .text-wrap span {
    vertical-align: middle;
    display: inline-block;
    width: 96%;
  }

  .category_opshions_links div::before {
    content: '';
    width: 0;
    height: 100%;
    vertical-align: middle;
    display: inline-block;
  }

  .img-wrap {
    width: 60px;
    text-align: center;
  }

  .item {
    margin-bottom: 30px;
  }
}

.category_filters {
  border: 1px solid #dedddd;

  legend {
    margin: 0;
    text-transform: none;
  }

  fieldset {
    padding: 20px 0;
  }

  .category_filters_fasad,
  .category_filters_checkbox {
    background: #f2f2f2;
  }

  .category_filters_price {
    position: relative;
  }

  .category_filters_price_range {
    margin: 65px 10% 0;
    width: 80%;
    height: 10px;
    background: #f2f2f2;
    line-height: 0;
    font-size: 0;
  }

  .category_filters_price_min {
    margin: 0 10%;
  }

  .category_filters_price_range div {
    display: inline-block;
    width: 11.11%;
    height: 100%;
    border-left: 3px solid #dedddd;
  }

  .category_filters_price_range :first-child {
    border: none;
  }

  .category_filters_drag {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    position: absolute;
    top: 109px;
    left: 280px;
    background: @second-color;
    border: none;
  }

  .category_filters_drag.right {
    left: 407px;
  }
}

.popover.top {
  background: @second-color;
  border: none;
  color: white;
}

.popover.top > .arrow:after {
  border-top-color: @second-color;
}

.category_filters_fasad {

  .radio_decoration {
    margin: 0 20px;
  }
}

.category_filters_checkbox {
  .category_filters_checkbox_style {
    display: inline-block;
    width: 320px;
    border: 1px solid #9d9d9c;
    margin: 0 10px;

    ul li {
      padding: 0 25px;
    }
  }

  .category_filters_checkbox_style_item {
    position: relative;
    padding: 15px;
    ul {
      border: 1px solid #9d9d9c;
      background: white;
      position: absolute;
      z-index: 100;
      left: -1px;
      right: -1px;
      top: 50px;
      display: none;
    }
  }

  .category_filters_checkbox_style_item.active {
    ul {
      display: block;

    }
  }

  .category_filters_checkbox_style_item-color {
    .radio_decoration {
      position: relative;
    }

    label div{
      width: 35px;
      height: 35px;
      display: inline-block;
    }

    .color_orange div {
      background: #dc7d45;
    }

    .color_brown div {
      background: #403833;
    }

    .color_green div {
      background: #b6da9c;
    }

    .color_milk div {
      background: #faf5e1;
    }

    .color_white div {
      background: #f8f8f8;
    }

  }
}