.category {

  .category_opshions_links {
    display: block;
    height: 70px;
    border:  1px solid @second-color;
    border-radius: 3px;
    color: @main-color;
    text-decoration: none;
  }

  .img-wrap {
    height: 100%;
    vertical-align: middle;
  }

  .text-wrap {
    padding-left: 60px;
    height: 100%;
  }

  .text-wrap span {
    vertical-align: middle;
    display: inline-block;
    width: 96%;
  }

  .category_opshions_links  div::before {
    content: '';
    width: 0;
    height: 100%;
    vertical-align: middle;
    display: inline-block;
  }

  .img-wrap {
    width: 60px;
    text-align: center;
  }
}