.constructor_3d {
  .attention {
    margin-bottom: 30px;
  }

  .link {
    color: @second-color;
    font-weight: bold;
    text-decoration: none;
  }

  .link:hover {
    color: @hover-color;
  }

  .link:focus {
    color: @third-color;
  }
}

.constructor_3d_catalog_tabs {
  border: 1px solid #e9e9e9;
  margin: 0;

  li {
    padding: 0;
  }

  a {
    display: block;
    padding: 10px 0;
    text-align: center;
    color: black;
    font-size: 16px;
    text-decoration: none;
  }

  a:hover {
    background: #f6f7fc;
  }

  li.active a {
    background: #f6f7fc;
  }


}

.constructor_3d_catalog {
  .backgroun_green {
    background: #39b54a;
  }
  .backgroun_lgreen {
    background: #a8bd04;
  }
  .backgroun_red {
    background: #c44230;
  }

  .tab-pane {
    padding: 10px;
    border: 1px solid #e9e9e9;
    border-top: none;
    h4 {
      font-weight: 700;

    }

    .constructor_3d_catalog_header {
      vertical-align: middle;
      text-align: center;

      .backgroun_green,
      .backgroun_lgreen,
      .backgroun_red {
        width: 65px;
        height: 15px;
        display: inline-block;
        margin-right: 10px;
        vertical-align: middle;
      }
    }
  }

}
.tab-pane {
  .table-bordered {
    text-align: center;
  }

  thead {
    background: transparent;
    color: black;
    //text-align: center;

    a {
      color: black;
      text-decoration: underline;
    }

    tr > th{
      //background: red;
      text-align: center;
      vertical-align: middle;
    }


  }

  tbody {
    background: transparent;
  }


  .table-bordered > tbody > tr > td {
    width: percentage(1 / 9);
    padding: 0;
    border-width: 6px;
    border-top: none;
    border-bottom: none;

    div {
      height: 30px;
      line-height: 30px;
      border-bottom: 2px solid white;
    }
  }

  .table-bordered > tbody > tr > td.ft {
    div {
      border-top: #233d61 3px solid;;
    }

  }
}

.constructor_3d_catalog_docum-mod-left {
  padding-right: 0;
  border-right: 1px solid #e9e9e9;

  div:last-child {
    border: none;
  }
}
.constructor_3d_catalog_docum-mod-right {
  padding-left: 0;

  div:last-child {
    border: none;
  }
}

.constructor_3d_catalog_docum_item {
  vertical-align: middle;
  padding: 10px;
  min-height: 48px;
  border-bottom: 1px solid #e9e9e9;

  span {
    vertical-align: middle;
    width: 85%;
    display: inline-block;
  }
}

.constructor_3d_catalog_docum_item::after {
  vertical-align: middle;
  content: '';
  width: 0;
  background: red;
  height: 48px;
  display: inline-block;
}

.constructor_3d_catalog_docum_item::before {
  vertical-align: middle;
  content: '';
  width: 48px;
  height: 48px;
  display: inline-block;
  background: url("../../img/sprites_user_doc.png");
  margin-right: 10px;
}

.constructor_3d_catalog_docum_item.home::before {
  background-position: 0 0;
}
.constructor_3d_catalog_docum_item.d-settings::before {
  background-position: -501px 0;
}
.constructor_3d_catalog_docum_item.cabinet::before {
  background-position: -301px -1px;
}
.constructor_3d_catalog_docum_item.cabinet_settings::before {
  background-position: -401px 0;
}
.constructor_3d_catalog_docum_item.doc_basket::before {
  background-position: -1px -51px;
}
.constructor_3d_catalog_docum_item.settings::before {
  background-position: -251px 0;
}
.constructor_3d_catalog_docum_item.questins::before {
  background-position: -552px -1px;
}
.constructor_3d_catalog_docum_item.open::before {
  background-position: -101px -1px;
}
.constructor_3d_catalog_docum_item.view::before {
  background-position: -151px 0;
}
.constructor_3d_catalog_docum_item.full_hd::before {
  background-position: -451px -1px;
}
.constructor_3d_catalog_docum_item.save::before {
  background-position: -201px 0;
}
.constructor_3d_catalog_docum_item.save_img::before {
  background-position: -51px 0;
}
.constructor_3d_catalog_docum_item.user::before {
  background-position: -351px -1px;
}
.constructor_3d_catalog_docum_item.basket_price::before {
  background-position: -52px -62px;
  width: 132px;
  height: 34px;


}

.constructor_3d_catalog_docum_item.basket_price {
  span {
    width: 67%;
  }
}

