header {
  img {
    margin-right: 14px;
  }

  .list-unstyled {
    text-transform: uppercase;
    color: @third-color;
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;

    li {
      font-size: 20px;
      color: @main-color;
      font-weight: 500;

      span {
        font-size: 14px;
        color: @second-color;
      }

      .btn.btn-link {
        padding: 0;
        color: @main-color;
        font-weight: 400;
        text-transform: uppercase;
        font-size: 12px;
      }

      .btn.btn-link::before {
        content: url("../../img/icon.png");
      }
    }
  }

  .header_search {
    padding: 0 42px;
  }

  h2 {
    color:  @main-color;
    font-size: 21px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;

    span {
      color: @second-color;
    }
  }

  p {
    color:  @third-color;
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-transform: uppercase;

    time {
      color:  #4d020c;
      font-size: 20px;/* Приближение из-за подстановки шрифтов */
      font-weight: 500;
      text-align: left;
    }
  }

  .form-group {
    border-radius: 3px;
    border: 1px solid @grey-color;

    .form-control {
      border: none;
      height: 30px;
      width: 224px;
      padding: 4px 6px;
    }

    ::-webkit-input-placeholder {
      color:  @third-color;
      font-size: 14px;
      font-weight: 400;
      line-height: 24px;
    }

     button {
       border: none;
       height: 30px;
       padding: 4px 6px;

       img {
         margin: 0;
       }
     }
  }

  .header_user {
    color: @main-color;
    text-align: right;

    a {
      padding: 0 8px;
      color: @main-color;
      text-transform: uppercase;
      font-weight: 400;
      line-height: 24px;
    }

    .header_search_enter {
      border-right: 1px solid @grey-color;
      margin-right: -4px;
    }

    .header_search_enter::before {
      content: url("../../img/icon-user.png");
    }


  }


}