header {
  color: @third-color;
  font-family: 'Roboto', sans-serif;

  .header_modal,
  li,
  h2,
  time,
  .btn.btn-link,
  .header_user {
    color: @main-color;
  }

  .header_logo {
    img {
      margin-right: 14px;
    }
  }

  .header_modal,
  .list-unstyled,
  .btn.btn-link,
  p {
    text-transform: uppercase;
    font-size: 12px;
  }

  .header_modal {
    font-weight: 400;
    line-height: 24px;
  }

  li,
  h2,
  time {
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
  }

  .list-unstyled,
  p,
  ::-webkit-input-placeholder {
    font-weight: 400;
  }

  .header_modal:hover,
  .header_modal:focus {
    color: @second-color;
    text-decoration: none;
    outline: none;
  }

  li {
    border-radius: 3px;

    span {
      font-size: 14px;
      color: @second-color;
      position: relative;
      top: -4px;
    }

    .btn.btn-link {
      padding: 0;
      font-weight: 400;
    }

    .header_modal::before {
      content: url("../../img/icon.png");
    }
  }

  h2 {
    text-align: center;

    span {
      color: @second-color;
    }
  }

  .form-group {
    border-radius: 3px;
    border: 1px solid @grey-color;

    .form-control,
    button {
      border: none;
      height: 28px;
      padding: 2px 6px;
    }

    .form-control {
      width: 224px;
    }

    ::-webkit-input-placeholder {
      font-size: 14px;
      line-height: 24px;
    }

    button {
      i {
        color: @second-color;
      }
    }

    button:hover {
      background: none;

      i {
        color: @hover-color;

      }
    }

    button:focus {
      background: none;
      outline: none;

      i {
        color: @third-color;

      }
    }

  }
  .header_search {
    padding: 0 42px;
  }

  p {
    padding-top: 3px;
    line-height: 24px;
    text-align: left;

    time {
      text-align: left;
    }
  }

  .header_user_order-product,
  .header_user_order-price,
  .header_user_order-basket,
  p,
  p time {
    vertical-align: middle;
  }

  .header_user {
    text-align: right;

    .header_modal,
    .header_user_order-price,
    .header_user_order-product {
      padding: 0 8px;
    }

    .header_user_ident-enter,
    .header_user_order-product {
      border-right: 1px solid @grey-color;
      margin-right: -4px;
    }

    .header_user_ident-enter::before {
      content: url("../../img/icon-user.png");
    }

    .header_user_order {
      margin-top: 30px;
    }
  }
}

nav.navbar-default {
  border: none;
  background-color: @main-color;
  border-radius: 0;
  min-height: 0;

  .navbar-collapse {
    border: none;
    padding: 0;

    ul {
      margin: 0;
      padding: 0;
      position: relative;

      li {
        position: relative;

        .nav_dropdown {
          position: absolute;
          top: 45px;
          left: 0;
          white-space: nowrap;
          z-index: 1000;
          display: none;

          li {
            display: block;
          }
        }
      }

      li:last-child {

        .nav_dropdown {
          left: auto;
          right: 0;
        }
      }
    }

    li:hover {
      .nav_dropdown {
        display: block;
      }
    }

    a {
      display: block;
      font-size: 14px;
      font-weight: 700;
      line-height: 24px;
      text-decoration: none;
      padding: 10px;
      text-transform: uppercase;
    }

    .nav_dropdown {
      padding: 25px 15px;
      background: white;
      border: 1px solid @second-color;

      a {
        background: transparent;
        text-transform: none;
        color: @main-color;
        padding: 0;
        line-height: 24px;
        font-weight: 400;
      }

      a.text-uppercase {
        text-transform: uppercase;
      }

      li:hover {
        a {
          color: @second-color;
          text-decoration: underline;
        }
      }
    }
  }

  .navbar-collapse > ul {
    font-size: 0;
    line-height: 0;
  }

  .navigation_buyer {
    li {
      display: block;
      width: 260px;
    }
    a {
      color: @main-color;
      text-align: left;
      background: @second-color;
      vertical-align: middle;

      i {
        vertical-align: middle;
        padding-right: 10px;
      }
    }

    .nav_dropdown {
      box-sizing: border-box;
      width: 100%;
    }

  }

  .navigation_buyer > li > a {
    border: 1px solid @second-color;
  }

  .navigation {
    text-align: justify;
    line-height: 0;
    height: auto;

    li {
      width: auto;
      height: auto;

      a {
        color: #ffffff;
        //background: red;
        padding: 10px 22px;
      }
    }
  }

  .navigation_buyer.navbar-right {
    li {
      width: auto;
    }

    i {
      padding-right: 0;
      padding-left: 10px;
    }
  }

  .navigation > li > a {
    border: 1px solid @main-color;
  }

  .navigation > li:hover {
  }

  .navigation > li:hover > a {
    position: relative;
    z-index: 1500;
    background: white;
    border: 1px solid @second-color;
    color: @main-color;
    border-bottom: 1px solid white;
  }

  .navigation .navigation_not_sublist:hover > a {
    border-bottom: 1px solid @second-color;
  }

  .navigation::after {
    display: inline-block;
    width: 100%;
    height: 0;
    content: "";
  }
}






