.main_header_action {
  position: relative;

  h2 {
    background-color: rgba(254, 151, 0, 0.8);
    color: #ffffff;
    text-transform: uppercase;
    position: absolute;
    top: 50px;
    left: 40px;
    font-size: 48px;
    font-weight: 500;
    line-height: 24px;
    padding: 15px 20px 23px 20px;

    span {
      position: absolute;
      top: 41px;
      left: 117px;
      font-size: 12px;
    }


  }

  h3 {
    background: rgba(46, 34, 31, 0.6);
    color: @second-color;
    text-transform: uppercase;
    position: absolute;
    top: 125px;
    left: 40px;
    font-size: 40px;
    font-weight: 500;
    line-height: 24px;
    padding: 15px 10px 25px 10px;
  }

  span {
    color: #ffffff;
    position: absolute;
    top: 42px;
    left: 400px;
    font-size: 12px;
  }

}