.page_gallery {
  aside {
    margin-top: 60px;
  }
}

.page_gallery_section {
  video {
    width: 100%;
  }

  button {
    border: 1px solid @second-color;
    padding: 10px 0;
    width: 210px;
    text-align: center;
    margin: 40px auto 0;
  }

  button:hover {
    border-color: @second-color;
    background: @second-color;
  }

  button:focus {
    border-color: @third-color;
    background: @third-color;
    outline: none;
  }

  button:active {
    outline: none;
  }
}

.page_gallery_section_content {
  color: grey;

  time {
    color: black;
  }
}

.page_gallery_section_content_description {
  color: black;
}