body {
  color: #333333;
  font-family: 'Roboto', sans-serif;
}

a {
  font-family: 'Roboto', sans-serif;
}

.advantages {
  padding: 0 15px;
  background-color: #f2f2f2;

  div, img, span {
    vertical-align: middle;
  }

  div, span {
    display: inline-block;
  }

  div {
    color: #4d020c;
    font-size: 14px; /* Приближение из-за подстановки шрифтов */
    font-weight: 500;
    line-height: 18px; /* Приближение из-за подстановки шрифтов */
    text-transform: uppercase;
    padding: 10px 65px;

    span {
      margin-left: 5px;
    }
  }
}