<% var title = 'О нас'; %>
<% include part/begin-html.ejs %>

<div class="container">
    <% include part/header.ejs %>
    <main class="about">
        <section class="about_us">
            <h3 class="text-uppercase"><strong>О компании</strong></h3>
            <p>
                <strong>Основной профиль компании «Классика Кухни» </strong>- производство и продажа мебели собственного
                производства,
                а также оптовые поставки фасадных систем из массива дерева и пластика.
            </p>
            <p>
                В начале 2011 года принято решение об открытии первого оптово-розничного магазина кухонной мебели.
                В самый короткий срок магазин снискал заслуженную популярность не только среди жителей г. Мытищи, но и
                всего Московского региона!
            </p>
            <ul class="list-unstyled">Сегодня "Классика Кухни" это:
                <li>Большой и дружный коллектив единомышленников.</li>
                <li>Передовые технологии продаж мебели и современный производственно-складской комплекс.</li>
                <li>Лучший в России 3D конструктор мебели, предназначенный для самостоятельного создания проектов кухонь
                    и шкафов-купе.
                </li>
                <li>Обширная дилерская сеть по Москве и Московской области.</li>
                <li>Несколько фирменных салонов в Москве и центральный шоу-рум и офис продаж в г. Мытищи.</li>
                <li>Авторская запатентованная программа для людей с активной жизненной позицией "Клуб Друзей"</li>
            </ul>
            <p>
                Благодаря уникальной, основанной на тщательных исследованиях ценовой политике, в основу которой
                легла в первую очередь социальная направленность, нам удалось сформировать ряд предложений,
                удовлетворяющих спрос людей, привыкших считать, что красивая и качественная мебель – это всегда
                запредельно дорого. Сотрудники компании разработали специальный модельный ряд кухонных гарнитуров
                для типовых и наиболее распространенных планировок. Таким образом, мы, и сотни наших покупателей
                уже согласились с нами, сделали, казалось бы невозможное, снизив стоимость кухонь и шкафов более чем
                вдвое по сравнению с предложениями основных ритейлеров этого рынка.
            </p>

            <p>
                Доверьте нам оформление вашего дома, и вы увидите, какими красками и благородными оттенками
                наполнится ваш интерьер. Мода на кухонную мебель меняется часто, и лишь классика не подвержена веяниям
                времени, оставаясь всегда образцом стиля и добротности. А с кухнями компании «Классика Кухни» еще
                экологичными и надежными!
            </p>
        </section>
        <section class="about_konstr">
            <h3 class="text-uppercase"><strong>3D конструктор</strong></h3>
            <p>
                <strong>Основной профиль компании «Классика Кухни» </strong>- производство и продажа мебели собственного
                производства,
                а также оптовые поставки фасадных систем из массива дерева и пластика.
            </p>
            <p>
                В начале 2011 года принято решение об открытии первого оптово-розничного магазина кухонной мебели.
                В самый короткий срок магазин снискал заслуженную популярность не только среди жителей г. Мытищи, но и
                всего Московского региона!
            </p>
            <ul class="list-unstyled">Сегодня "Классика Кухни" это:
                <li>Большой и дружный коллектив единомышленников.</li>
                <li>Передовые технологии продаж мебели и современный производственно-складской комплекс.</li>
                <li>Лучший в России 3D конструктор мебели, предназначенный для самостоятельного создания проектов кухонь
                    и шкафов-купе.
                </li>
                <li>Обширная дилерская сеть по Москве и Московской области.</li>
                <li>Несколько фирменных салонов в Москве и центральный шоу-рум и офис продаж в г. Мытищи.</li>
                <li>Авторская запатентованная программа для людей с активной жизненной позицией "Клуб Друзей"</li>
            </ul>
            <p>
                Благодаря уникальной, основанной на тщательных исследованиях ценовой политике, в основу которой
                легла в первую очередь социальная направленность, нам удалось сформировать ряд предложений,
                удовлетворяющих спрос людей, привыкших считать, что красивая и качественная мебель – это всегда
                запредельно дорого. Сотрудники компании разработали специальный модельный ряд кухонных гарнитуров
                для типовых и наиболее распространенных планировок. Таким образом, мы, и сотни наших покупателей
                уже согласились с нами, сделали, казалось бы невозможное, снизив стоимость кухонь и шкафов более чем
                вдвое по сравнению с предложениями основных ритейлеров этого рынка.
            </p>

            <p>
                Доверьте нам оформление вашего дома, и вы увидите, какими красками и благородными оттенками
                наполнится ваш интерьер. Мода на кухонную мебель меняется часто, и лишь классика не подвержена веяниям
                времени, оставаясь всегда образцом стиля и добротности. А с кухнями компании «Классика Кухни» еще
                экологичными и надежными!
            </p>
        </section>
        <section class="about_assortiment">
            <h3 class="text-uppercase"><strong>большой ассортимент</strong></h3>
            <p>
                <strong>Основной профиль компании «Классика Кухни» </strong>- производство и продажа мебели собственного
                производства,
                а также оптовые поставки фасадных систем из массива дерева и пластика.
            </p>
            <p>
                В начале 2011 года принято решение об открытии первого оптово-розничного магазина кухонной мебели.
                В самый короткий срок магазин снискал заслуженную популярность не только среди жителей г. Мытищи, но и
                всего Московского региона!
            </p>
            <ul class="list-unstyled">Сегодня "Классика Кухни" это:
                <li>Большой и дружный коллектив единомышленников.</li>
                <li>Передовые технологии продаж мебели и современный производственно-складской комплекс.</li>
                <li>Лучший в России 3D конструктор мебели, предназначенный для самостоятельного создания проектов кухонь
                    и шкафов-купе.
                </li>
                <li>Обширная дилерская сеть по Москве и Московской области.</li>
                <li>Несколько фирменных салонов в Москве и центральный шоу-рум и офис продаж в г. Мытищи.</li>
                <li>Авторская запатентованная программа для людей с активной жизненной позицией "Клуб Друзей"</li>
            </ul>
            <p>
                Благодаря уникальной, основанной на тщательных исследованиях ценовой политике, в основу которой
                легла в первую очередь социальная направленность, нам удалось сформировать ряд предложений,
                удовлетворяющих спрос людей, привыкших считать, что красивая и качественная мебель – это всегда
                запредельно дорого. Сотрудники компании разработали специальный модельный ряд кухонных гарнитуров
                для типовых и наиболее распространенных планировок. Таким образом, мы, и сотни наших покупателей
                уже согласились с нами, сделали, казалось бы невозможное, снизив стоимость кухонь и шкафов более чем
                вдвое по сравнению с предложениями основных ритейлеров этого рынка.
            </p>

            <p>
                Доверьте нам оформление вашего дома, и вы увидите, какими красками и благородными оттенками
                наполнится ваш интерьер. Мода на кухонную мебель меняется часто, и лишь классика не подвержена веяниям
                времени, оставаясь всегда образцом стиля и добротности. А с кухнями компании «Классика Кухни» еще
                экологичными и надежными!
            </p>
        </section>
        <section class="about_service">
            <h3 class="text-uppercase"><strong>безупречный сервис</strong></h3>
            <p>
                <strong>Основной профиль компании «Классика Кухни» </strong>- производство и продажа мебели собственного
                производства,
                а также оптовые поставки фасадных систем из массива дерева и пластика.
            </p>
            <p>
                В начале 2011 года принято решение об открытии первого оптово-розничного магазина кухонной мебели.
                В самый короткий срок магазин снискал заслуженную популярность не только среди жителей г. Мытищи, но и
                всего Московского региона!
            </p>
            <ul class="list-unstyled">Сегодня "Классика Кухни" это:
                <li>Большой и дружный коллектив единомышленников.</li>
                <li>Передовые технологии продаж мебели и современный производственно-складской комплекс.</li>
                <li>Лучший в России 3D конструктор мебели, предназначенный для самостоятельного создания проектов кухонь
                    и шкафов-купе.
                </li>
                <li>Обширная дилерская сеть по Москве и Московской области.</li>
                <li>Несколько фирменных салонов в Москве и центральный шоу-рум и офис продаж в г. Мытищи.</li>
                <li>Авторская запатентованная программа для людей с активной жизненной позицией "Клуб Друзей"</li>
            </ul>
            <p>
                Благодаря уникальной, основанной на тщательных исследованиях ценовой политике, в основу которой
                легла в первую очередь социальная направленность, нам удалось сформировать ряд предложений,
                удовлетворяющих спрос людей, привыкших считать, что красивая и качественная мебель – это всегда
                запредельно дорого. Сотрудники компании разработали специальный модельный ряд кухонных гарнитуров
                для типовых и наиболее распространенных планировок. Таким образом, мы, и сотни наших покупателей
                уже согласились с нами, сделали, казалось бы невозможное, снизив стоимость кухонь и шкафов более чем
                вдвое по сравнению с предложениями основных ритейлеров этого рынка.
            </p>

            <p>
                Доверьте нам оформление вашего дома, и вы увидите, какими красками и благородными оттенками
                наполнится ваш интерьер. Мода на кухонную мебель меняется часто, и лишь классика не подвержена веяниям
                времени, оставаясь всегда образцом стиля и добротности. А с кухнями компании «Классика Кухни» еще
                экологичными и надежными!
            </p>
        </section>
    </main>

    <% include part/footer.ejs %>
</div>

<% include part/modal.ejs %>
<% include part/end-html.ejs %>