<% var title = 'Акции'; %>
<% include part/begin-html.ejs %>
<div class="container">
    <% include part/header.ejs %>
    <main class="page_discount">
        <h1 class="text-uppercase color_brown"><strong>акции</strong></h1>
        <section>
            <img class="pull-left" src="../../img/kitchen_akciy.png" alt="">
            <article class="page_discount_description">
                <h3 class="color_orange">
                    <small>25.03.16</small>
                    <strong class="text-uppercase">АКЦИЯ! "УЛЬТРА ВСЁ ВКЛЮЧЕНО"</strong>
                    <small class="color_brown">Акция действует с 01.04.16 по 01.05.16</small>
                </h3>
                <p>
                    Вам больше не придется ломать голову над тем, сколько может стоить выезд замерщика, дизайн-проект,
                    доставка и сборка мебели, потому что теперь это бесплатно!
                </p>
                <p>
                    Данная Акция стала настоящим хитом нашей компании. За время ее проведения, мы помогли нескольким
                    сотням
                    наших покупателей сэкономить до 30% стоимости кухонной мебели.
                </p>
            </article>
            <a class="color_orange text-uppercase" href="#">Подробнее</a>
        </section>
        <section>
            <img class="pull-left" src="../../img/kitchen_akciy.png" alt="">
            <article class="page_discount_description">
                <h3 class="color_orange">
                    <small>25.03.16</small>
                    <strong class="text-uppercase">АКЦИЯ! "УЛЬТРА ВСЁ ВКЛЮЧЕНО"</strong>
                    <small class="color_brown">Акция действует с 01.04.16 по 01.05.16</small>
                </h3>
                <p>
                    Вам больше не придется ломать голову над тем, сколько может стоить выезд замерщика, дизайн-проект,
                    доставка и сборка мебели, потому что теперь это бесплатно!
                </p>
                <p>
                    Данная Акция стала настоящим хитом нашей компании. За время ее проведения, мы помогли нескольким
                    сотням
                    наших покупателей сэкономить до 30% стоимости кухонной мебели.
                </p>
            </article>
            <a class="color_orange text-uppercase" href="#">Подробнее</a>
        </section>
        <section>
            <img class="pull-left" src="../../img/kitchen_akciy.png" alt="">
            <article class="page_discount_description">
                <h3 class="color_orange">
                    <small>25.03.16</small>
                    <strong class="text-uppercase">АКЦИЯ! "УЛЬТРА ВСЁ ВКЛЮЧЕНО"</strong>
                    <small class="discount_complete">Срок действия акции истек!</small>
                </h3>
                <p>
                    Вам больше не придется ломать голову над тем, сколько может стоить выезд замерщика, дизайн-проект,
                    доставка и сборка мебели, потому что теперь это бесплатно!
                </p>
                <p>
                    Данная Акция стала настоящим хитом нашей компании. За время ее проведения, мы помогли нескольким
                    сотням
                    наших покупателей сэкономить до 30% стоимости кухонной мебели.
                </p>
            </article>
            <a class="color_orange text-uppercase" href="#">Подробнее</a>
        </section>
        <section>
            <img class="pull-left" src="../../img/kitchen_akciy.png" alt="">
            <article class="page_discount_description">
                <h3 class="color_orange">
                    <small>25.03.16</small>
                    <strong class="text-uppercase">АКЦИЯ! "УЛЬТРА ВСЁ ВКЛЮЧЕНО"</strong>
                    <small class="discount_complete">Срок действия акции истек!</small>
                </h3>
                <p>
                    Вам больше не придется ломать голову над тем, сколько может стоить выезд замерщика, дизайн-проект,
                    доставка и сборка мебели, потому что теперь это бесплатно!
                </p>
                <p>
                    Данная Акция стала настоящим хитом нашей компании. За время ее проведения, мы помогли нескольким
                    сотням
                    наших покупателей сэкономить до 30% стоимости кухонной мебели.
                </p>
            </article>
            <a class="color_orange text-uppercase" href="#">Подробнее</a>
        </section>




    </main>
    <% include part/footer.ejs %>
</div>


<% include part/modal.ejs %>
<% include part/end-html.ejs %>