<% var title = 'Банк проектов'; %>
<% include part/begin-html.ejs %>

<div class="page_gallery container">
    <% include part/header.ejs %>
    <% include part/banner.ejs %>

    <ol class="breadcrumb">
        <li><a href="./main.html">Классика кухни</a></li>
        <li><a href="./encyclopedia_knowledge.html">Энциклопедия знаний</a></li>
        <li class="active">Банк проектов</li>
    </ol>

    <section class="attention clearfix">
            <span class="attention_content">
                ШАБЛОННЫЙ ТЕКСТ Герои этих произведений, объединенных общим сюжетом, – мальчишки с храбрыми сердцами и
                взрослые, не утратившие мальчишеской храбрости, озорства и веры в сказку. Сквозь странный сон, сквозь
                пространство и время, главный герой возвращается в детство, переживает то, что было и то, что только могло
                быть… Там, в снах, в другом мире – Валерка и Братик, и барабанщики… В реальности – приятель Володька…
                И как разорваться герою? Но прошлое и настоящее рождают новое будущее. Не веревочка свяжет планеты,
                а дружба мальчишек…
            </span>
    </section>

    <h1>Банк проектов</h1>

    <div class="row">
        <aside class="col-xs-3">
            <form action="">
                <div class="category_filters_checkbox mod-aside text-left">
                    <div class="category_filters_checkbox_style list-unstyled">
                        <div class="category_filters_checkbox_style_item">
                            <strong class="color_brown">Фурнитура</strong>
                            <i class="material-icons deployer">&#xE313;</i>
                            <i class="material-icons collapser">&#xE316;</i>
                        </div>
                        <ul class="category_filters_checkbox_list list-unstyled text-left">
                            <li>
                                <div class="radio_decoration checkbox">
                                    <input type="checkbox" name="accessories" id="accessories1" value="option1">
                                    <label for="accessories1">Освещение</label>
                                </div>
                            </li>
                            <li>
                                <div class="radio_decoration checkbox">
                                    <input type="checkbox" name="accessories" id="accessories2" value="option1">
                                    <label for="accessories2">Подъемники</label>
                                </div>
                            </li>
                            <li>
                                <div class="radio_decoration checkbox">
                                    <input type="checkbox" name="accessories" id="accessories3" value="option1">
                                    <label for="accessories3">Х</label>
                                </div>
                            </li>
                            <li>
                                <div class="radio_decoration checkbox">
                                    <input type="checkbox" name="accessories" id="accessories4" value="option1">
                                    <label for="accessories4">Х</label>
                                </div>
                            </li>
                            <li>
                                <div class="radio_decoration checkbox">
                                    <input type="checkbox" name="accessories" id="accessories5" value="option1">
                                    <label for="accessories5">Х</label>
                                </div>
                            </li>
                            <li>
                                <div class="radio_decoration checkbox">
                                    <input type="checkbox" name="accessories" id="accessories6" value="option1">
                                    <label for="accessories6">Х</label>
                                </div>
                            </li>
                            <li>
                                <div class="radio_decoration checkbox">
                                    <input type="checkbox" name="accessories" id="accessories7" value="option1">
                                    <label for="accessories7">Х</label>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="category_filters_checkbox mod-aside text-left">
                    <div class="category_filters_checkbox_style list-unstyled">
                        <div class="category_filters_checkbox_style_item">
                            <strong class="color_brown">Фасады</strong>
                            <i class="material-icons deployer">&#xE313;</i>
                            <i class="material-icons collapser">&#xE316;</i>
                        </div>
                        <ul class="category_filters_checkbox_list list-unstyled text-left">
                            <li>
                                <div class="radio_decoration checkbox">
                                    <input type="checkbox" name="fasad" id="fasad1" value="option1">
                                    <label for="fasad1">Классика</label>
                                </div>
                            </li>
                            <li>
                                <div class="radio_decoration checkbox">
                                    <input type="checkbox" name="fasad" id="fasad2" value="option1">
                                    <label for="fasad2">Модерн</label>
                                </div>
                            </li>
                            <li>
                                <div class="radio_decoration checkbox">
                                    <input type="checkbox" name="fasad" id="fasad3" value="option1">
                                    <label for="fasad3">Кантри</label>
                                </div>
                            </li>
                            <li>
                                <div class="radio_decoration checkbox">
                                    <input type="checkbox" name="fasad" id="fasad4" value="option1">
                                    <label for="fasad4">Ретро</label>
                                </div>
                            </li>
                            <li>
                                <div class="radio_decoration checkbox">
                                    <input type="checkbox" name="fasad" id="style5" fasad5="option1">
                                    <label for="fasad5">Хай-тек</label>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="category_filters_checkbox mod-aside text-left">
                    <div class="category_filters_checkbox_style list-unstyled">
                        <div class="category_filters_checkbox_style_item">
                            <strong class="color_brown">Столешницы</strong>
                            <i class="material-icons deployer">&#xE313;</i>
                            <i class="material-icons collapser">&#xE316;</i>
                        </div>
                        <ul class="category_filters_checkbox_list list-unstyled text-left">
                            <li>
                                <div class="radio_decoration checkbox">
                                    <input type="checkbox" name="countertop" id="countertop1" value="option1">
                                    <label for="countertop1">Классика</label>
                                </div>
                            </li>
                            <li>
                                <div class="radio_decoration checkbox">
                                    <input type="checkbox" name="countertop" id="countertop2" value="option1">
                                    <label for="countertop3">Модерн</label>
                                </div>
                            </li>
                            <li>
                                <div class="radio_decoration checkbox">
                                    <input type="checkbox" name="countertop" id="countertop3" value="option1">
                                    <label for="countertop3">Кантри</label>
                                </div>
                            </li>
                            <li>
                                <div class="radio_decoration checkbox">
                                    <input type="checkbox" name="countertop" id="countertop4" value="option1">
                                    <label for="countertop4">Ретро</label>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="category_filters_checkbox mod-aside text-left">
                    <div class="category_filters_checkbox_style list-unstyled">
                        <div class="category_filters_checkbox_style_item">
                            <strong class="color_brown">Производство</strong>
                            <i class="material-icons deployer">&#xE313;</i>
                            <i class="material-icons collapser">&#xE316;</i>
                        </div>
                        <ul class="category_filters_checkbox_list list-unstyled text-left">
                            <li>
                                <div class="radio_decoration checkbox">
                                    <input type="checkbox" name="production" id="production1" value="option1">
                                    <label for="production1">Классика</label>
                                </div>
                            </li>
                            <li>
                                <div class="radio_decoration checkbox">
                                    <input type="checkbox" name="production" id="production2" value="option1">
                                    <label for="production2">Модерн</label>
                                </div>
                            </li>
                            <li>
                                <div class="radio_decoration checkbox">
                                    <input type="checkbox" name="production" id="production3" value="option1">
                                    <label for="production3">Кантри</label>
                                </div>
                            </li>
                            <li>
                                <div class="radio_decoration checkbox">
                                    <input type="checkbox" name="production" id="production4" value="option1">
                                    <label for="production4">Ретро</label>
                                </div>
                            </li>
                            <li>
                                <div class="radio_decoration checkbox">
                                    <input type="checkbox" name="production" id="production5" value="option1">
                                    <label for="production5">Хай-тек</label>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="category_filters_checkbox mod-aside text-left">
                    <div class="category_filters_checkbox_style list-unstyled">
                        <div class="category_filters_checkbox_style_item">
                            <strong class="color_brown">Обзоры</strong>
                            <i class="material-icons deployer">&#xE313;</i>
                            <i class="material-icons collapser">&#xE316;</i>
                        </div>
                        <ul class="category_filters_checkbox_list list-unstyled text-left">
                            <li>
                                <div class="radio_decoration checkbox">
                                    <input type="checkbox" name="reviews" id="reviews1" value="option1">
                                    <label for="reviews1">Классика</label>
                                </div>
                            </li>
                            <li>
                                <div class="radio_decoration checkbox">
                                    <input type="checkbox" name="reviews" id="reviews21" value="option1">
                                    <label for="reviews21">Модерн</label>
                                </div>
                            </li>
                            <li>
                                <div class="radio_decoration checkbox">
                                    <input type="checkbox" name="reviews" id="reviews3" value="option1">
                                    <label for="reviews3">Кантри</label>
                                </div>
                            </li>
                            <li>
                                <div class="radio_decoration checkbox">
                                    <input type="checkbox" name="reviews" id="reviews4" value="option1">
                                    <label for="reviews4">Ретро</label>
                                </div>
                            </li>
                            <li>
                                <div class="radio_decoration checkbox">
                                    <input type="checkbox" name="reviews" id="reviews15" value="option1">
                                    <label for="reviews15">Хай-тек</label>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </form>
        </aside>

        <main class="col-xs-9">
            <section class="page_gallery_section">
                <h3 class="color_brown">Столешницы</h3>
                <hr class="hr_orange">
                <div class="row">
                    <a href="#" class="col-xs-4">
                        <img src="../../img/bank1.png" alt="">
                        <div class="page_gallery_section_content">
                            Открыть в 3D
                        </div>
                    </a>
                    <a href="#" class="col-xs-4">
                        <img src="../../img/bank2.png" alt="">
                        <div class="page_gallery_section_content">
                            Открыть в 3D
                        </div>
                    </a>
                    <a href="#" class="col-xs-4">
                        <img src="../../img/bank3.png" alt="">
                        <div class="page_gallery_section_content">
                            Открыть в 3D
                        </div>
                    </a>

                </div>
                <hr>
                <div class="row">
                    <a href="#" class="col-xs-4">
                        <img src="../../img/bank1.png" alt="">
                        <div class="page_gallery_section_content">
                            Открыть в 3D
                        </div>
                    </a>
                    <a href="#" class="col-xs-4">
                        <img src="../../img/bank2.png" alt="">
                        <div class="page_gallery_section_content">
                            Открыть в 3D
                        </div>
                    </a>
                    <a href="#" class="col-xs-4">
                        <img src="../../img/bank3.png" alt="">
                        <div class="page_gallery_section_content">
                            Открыть в 3D
                        </div>
                    </a>

                </div>
                <button class="btn btn-default btn-block" type="button">Показать еще</button>
            </section>
            <section class="page_gallery_section">
                <h3 class="color_brown">Столешницы</h3>
                <hr class="hr_orange">
                <div class="row">
                    <a href="#" class="col-xs-4">
                        <img src="../../img/bank1.png" alt="">
                        <div class="page_gallery_section_content">
                            Открыть в 3D
                        </div>
                    </a>
                    <a href="#" class="col-xs-4">
                        <img src="../../img/bank2.png" alt="">
                        <div class="page_gallery_section_content">
                            Открыть в 3D
                        </div>
                    </a>
                    <a href="#" class="col-xs-4">
                        <img src="../../img/bank3.png" alt="">
                        <div class="page_gallery_section_content">
                            Открыть в 3D
                        </div>
                    </a>

                </div>
                <hr>
                <div class="row">
                    <a href="#" class="col-xs-4">
                        <img src="../../img/bank1.png" alt="">
                        <div class="page_gallery_section_content">
                            Открыть в 3D
                        </div>
                    </a>
                    <a href="#" class="col-xs-4">
                        <img src="../../img/bank2.png" alt="">
                        <div class="page_gallery_section_content">
                            Открыть в 3D
                        </div>
                    </a>
                    <a href="#" class="col-xs-4">
                        <img src="../../img/bank3.png" alt="">
                        <div class="page_gallery_section_content">
                            Открыть в 3D
                        </div>
                    </a>

                </div>
                <button class="btn btn-default btn-block" type="button">Показать еще</button>
            </section>
        </main>

    </div>
    <% include part/footer.ejs %>
</div>

<% include part/modal.ejs %>
<% include part/end-html.ejs %>