<% var title = 'Акции'; %>
<% include part/begin-html.ejs %>
<div class="container">
    <% include part/header.ejs %>
    
    <% include part/footer.ejs %>
</div>
<% include part/modal.ejs %>
<% include part/end-html.ejs %>