<% var title = 'Кухни на заказ'; %>
<% include part/begin-html.ejs %>
<div class="container">
    <% include part/header.ejs %>
    <ol class="breadcrumb">
        <li><a href="./main.html">Классика кухни</a></li>
        <li><a href="#">Мебель на заказ</a></li>
        <li class="active">Кухни на заказ</li>
    </ol>
    <main class="category">
        <section class="category_opshions row">
            <div class="col-md-2">
                <a class="category_opshions_links clearfix" href="#">
                    <div class="img-wrap pull-left">
                        <img class="" src="../../img/icon_yoer_progect.png" alt="Свой проект">
                    </div>
                    <div class="text-wrap">
                        <span>Создать свой проект в 3D</span>
                    </div>
                </a>
            </div>
            <div class="col-md-2">
                <a class="category_opshions_links clearfix" href="#">
                    <div class="img-wrap pull-left">
                        <img src="../../img/icon_free_measurement.png" alt="Замер">
                    </div>
                    <div class="text-wrap">
                        <span>Бесплатный замер</span>
                    </div>
                </a>
            </div>
            <div class="col-md-2">
                <a class="category_opshions_links clearfix" href="#">
                    <div class="img-wrap pull-left">
                        <img src="../../img/icon_free_project.png" alt="">
                    </div>
                    <div class="text-wrap">
                        <span>Бесплатный проект</span></div>
                </a>
            </div>
            <div class="col-md-2">
                <a class="category_opshions_links clearfix" href="#">
                    <div class="img-wrap pull-left">
                        <img src="../../img/icon_order_model.png" alt="">
                    </div>
                    <div class="text-wrap">
                        <span>Акции</span>
                    </div>
                </a>
            </div>
            <div class="col-md-2">
                <a class="category_opshions_links clearfix" href="#">
                    <div class="img-wrap pull-left">
                        <img src="../../img/icon_buy_installments.png" alt="">
                    </div>
                    <div class="text-wrap">
                        <span>Купить в рассрочку</span>
                    </div>
                </a>
            </div>
            <div class="col-md-2">
                <a class="category_opshions_links clearfix" href="#">
                    <div class="img-wrap pull-left">
                        <img src="../../img/icon_bank_3d.png" alt="">
                    </div>
                    <div class="text-wrap">
                        <span>Банк проектов 3D</span>
                    </div>
                </a>
            </div>
        </section>

        <h1 class="text-uppercase text-center">кухни на заказ</h1>

        <section class="category_filters">

        </section>

    </main>

    <% include part/footer.ejs %>
</div>

<% include part/modal.ejs %>
<% include part/end-html.ejs %>