<% var title = 'Кухни на заказ'; %>
<% include part/begin-html.ejs %>
<div class="container">
    <% include part/header.ejs %>
    <ol class="breadcrumb">
        <li><a href="./main.html">Классика кухни</a></li>
        <li><a href="#">Мебель на заказ</a></li>
        <li class="active">Кухни на заказ</li>
    </ol>
    <main class="category">
        <section class="category_opshions row">
            <div class="col-xs-2">
                <a class="category_opshions_links clearfix" href="#">
                    <div class="img-wrap pull-left">
                        <img class="" src="../../img/icon_yoer_progect.png" alt="Свой проект">
                    </div>
                    <div class="text-wrap">
                        <span>Создать свой проект в 3D</span>
                    </div>
                </a>
            </div>
            <div class="col-xs-2">
                <a class="category_opshions_links clearfix" href="#" data-toggle="modal" data-target=".modal_measurer">
                    <div class="img-wrap pull-left">
                        <img src="../../img/icon_free_measurement.png" alt="Замер">
                    </div>
                    <div class="text-wrap">
                        <span>Бесплатный замер</span>
                    </div>
                </a>
            </div>
            <div class="col-xs-2">
                <a class="category_opshions_links clearfix" href="#" data-toggle="modal" data-target=".modal_free_project">
                    <div class="img-wrap pull-left">
                        <img src="../../img/icon_free_project.png" alt="">
                    </div>
                    <div class="text-wrap">
                        <span>Бесплатный проект</span></div>
                </a>
            </div>
            <div class="col-xs-2">
                <a class="category_opshions_links clearfix" href="#">
                    <div class="img-wrap pull-left">
                        <img src="../../img/icon_order_model.png" alt="">
                    </div>
                    <div class="text-wrap">
                        <span>Акции</span>
                    </div>
                </a>
            </div>
            <div class="col-xs-2">
                <a class="category_opshions_links clearfix" href="#">
                    <div class="img-wrap pull-left">
                        <img src="../../img/icon_buy_installments.png" alt="">
                    </div>
                    <div class="text-wrap">
                        <span>Купить в рассрочку</span>
                    </div>
                </a>
            </div>
            <div class="col-xs-2">
                <a class="category_opshions_links clearfix" href="#">
                    <div class="img-wrap pull-left">
                        <img src="../../img/icon_bank_3d.png" alt="">
                    </div>
                    <div class="text-wrap">
                        <span>Банк проектов 3D</span>
                    </div>
                </a>
            </div>
        </section>

        <h1 class="text-uppercase text-center color_orange">кухни на заказ</h1>

        <section class="category_filters">
            <form action="">
                <fieldset class="category_filters_price">
                    <h4 class="color_brown text-center"><strong>Ценовой диапазон покупки</strong></h4>
                    <div class="category_filters_price_range">
                        <div class="category_filters_drag left" data-toggle="popover" data-content="83 000"></div>
                        <div class="category_filters_drag right" data-toggle="popover" data-content="300 000"></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>

                    <div class="pull-right text-uppercase category_filters_price_min">
                        <strong>800000 руб</strong>
                    </div>
                    <div class="text-uppercase category_filters_price_min"><strong>0 руб</strong></div>
                </fieldset>
                <fieldset class="category_filters_fasad form-inline text-center">
                    <h4 class="color_brown text-center"><strong>Материал фасадной части</strong></h4>
                    <div class="radio_decoration checkbox">
                        <input type="radio" name="homeFurnishing" id="fasad1" value="option1">
                        <label for="fasad1">Массив дерева</label>
                    </div>
                    <div class="radio_decoration active checkbox">
                        <input type="radio" name="homeFurnishing" id="fasad2" value="option2">
                        <label for="fasad2">МДФ эмаль</label>
                    </div>
                    <div class="radio_decoration checkbox">
                        <input type="radio" name="homeFurnishing" id="fasad3" value="option1">
                        <label for="fasad3">УФ-лак (высокоглянцевые)</label>
                    </div>
                    <div class="radio_decoration checkbox">
                        <input type="radio" name="homeFurnishing" id="fasad4" value="option1">
                        <label for="fasad4">МДФ в пленке ПВХ</label>
                    </div>
                    <div class="radio_decoration checkbox">
                        <input type="radio" name="homeFurnishing" id="fasad5" value="option1">
                        <label for="fasad5">ЛДСП</label>
                    </div>
                    <div class="radio_decoration checkbox">
                        <input type="radio" name="homeFurnishing" id="fasad6" value="option1">
                        <label for="fasad6">Пластик</label>
                    </div>
                </fieldset>
                <fieldset class="category_filters_checkbox text-center">
                    <ul class="category_filters_checkbox_style list-unstyled text-left">
                        <li class="category_filters_checkbox_style_item">
                            <strong class="color_brown">Стиль</strong>
                            <i class="material-icons deployer">&#xE313;</i>
                            <i class="material-icons collapser">&#xE316;</i>
                            <ul class="list-unstyled">
                                <li>
                                    <div class="radio_decoration checkbox">
                                        <input type="checkbox" name="homeFurnishing" id="style1" value="option1">
                                        <label for="style1">Классика</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="radio_decoration checkbox">
                                        <input type="checkbox" name="homeFurnishing" id="style2" value="option1">
                                        <label for="style2">Модерн</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="radio_decoration checkbox">
                                        <input type="checkbox" name="homeFurnishing" id="style3" value="option1">
                                        <label for="style3">Кантри</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="radio_decoration checkbox">
                                        <input type="checkbox" name="homeFurnishing" id="style4" value="option1">
                                        <label for="style4">Ретро</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="radio_decoration checkbox">
                                        <input type="checkbox" name="homeFurnishing" id="style5" value="option1">
                                        <label for="style5">Хай-тек</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="radio_decoration checkbox">
                                        <input type="checkbox" name="homeFurnishing" id="style6" value="option1">
                                        <label for="style6">Минимализм</label>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="category_filters_checkbox_style list-unstyled text-left">
                        <li class="category_filters_checkbox_style_item">
                            <strong class="color_brown">Цвет</strong>
                            <i class="material-icons deployer">&#xE313;</i>
                            <i class="material-icons collapser">&#xE316;</i>
                            <ul class="list-unstyled category_filters_checkbox_style_item-color">
                                <li>
                                    <div class="radio_decoration checkbox">
                                        <input type="checkbox" name="colorBottom" id="bottomOrange" value="orange"
                                               checked>
                                        <label for="bottomOrange" class="color_orange radio-inline">
                                            <div></div>
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="radio_decoration checkbox">
                                        <input type="checkbox" name="colorBottom" id="bottomBrown" value="brown">
                                        <label for="bottomBrown" class="color_brown radio-inline">
                                            <div></div>
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="radio_decoration checkbox">
                                        <input type="checkbox" name="colorBottom" id="bottomGreen" value="green">
                                        <label for="bottomGreen" class="color_green radio-inline">
                                            <div></div>
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="radio_decoration checkbox">
                                        <input type="checkbox" name="colorBottom" id="bottomMilk" value="milk" checked>
                                        <label for="bottomMilk" class="color_milk radio-inline">
                                            <div></div>
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="radio_decoration checkbox">
                                        <input type="checkbox" name="colorBottom" id="bottomWhite" value="white">
                                        <label for="bottomWhite" class="color_white radio-inline">
                                            <div></div>
                                        </label>
                                    </div>
                                </li>

                            </ul>
                        </li>
                    </ul>
                    <ul class="category_filters_checkbox_style list-unstyled text-left">
                        <li class="category_filters_checkbox_style_item">
                            <strong class="color_brown">Стиль</strong>
                            <i class="material-icons deployer">&#xE313;</i>
                            <i class="material-icons collapser">&#xE316;</i>
                            <ul class="list-unstyled">
                                <li>
                                    <div class="radio_decoration checkbox">
                                        <input type="checkbox" name="homeFurnishing" id="locat1" value="option1">
                                        <label for="locat1">
                                            Прямая
                                            <img src="../../img/icon_kitchen_rect.png" alt="">
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="radio_decoration checkbox">
                                        <input type="checkbox" name="homeFurnishing" id="locat2" value="option1">
                                        <label for="locat2">
                                            Угольная правая
                                            <img src="../../img/icon_tre_right.png" alt="">
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="radio_decoration checkbox">
                                        <input type="checkbox" name="homeFurnishing" id="locat3" value="option1">
                                        <label for="locat3">
                                            Угловая правая
                                            <img src="../../img/icon_kitchen_tre_left.png" alt="">
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="radio_decoration checkbox">
                                        <input type="checkbox" name="homeFurnishing" id="locat4" value="option1">
                                        <label for="locat4">
                                            П-образная
                                            <img src="../../img/icon_kitchen_P.png" alt="">
                                        </label>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>


                </fieldset>

            </form>


        </section>
        <section class="row assortment">
            <div class="col-xs-4">
                <figure class="item discount">
                    <div class="product_img"><img src="../../img/product.png" alt="Продукт"></div>
                    <div class="product_name">Куба белая</div>
                    <form action="" class="pull-right">
                        <button type="submit" class="basket"><img src="../../img/icon-basket.png" alt="Корзина"></button>
                    </form>
                    <div class="product_price"><span>183 000</span>руб <span class="product_price-old">193 000руб</span>
                    </div>
                    <div class="product-new">NEW</div>
                    <div class="product-discount">-20%</div>
                    <a href="#" class="basket"><img src="../../img/plus.png" alt=""></a>
                </figure>
            </div>
            <div class="col-xs-4">
                <figure class="item">
                    <div class="product_img"><img src="../../img/product.png" alt="Продукт"></div>
                    <div class="product_name">Куба белая</div>
                    <form action="" class="pull-right">
                        <button type="submit" class="basket"><img src="../../img/icon-basket.png" alt="Корзина"></button>
                    </form>
                    <div class="product_price"><span>183 000</span>руб <span class="product_price-old">193 000руб</span>
                    </div>
                    <div class="product-new">NEW</div>
                    <div class="product-discount">-20%</div>
                    <a href="#" class="basket"><img src="../../img/plus.png" alt=""></a>
                </figure>
            </div>
            <div class="col-xs-4">
                <figure class="item new">
                    <div class="product_img"><img src="../../img/product.png" alt="Продукт"></div>
                    <div class="product_name">Куба белая</div>
                    <form action="" class="pull-right">
                        <button type="submit" class="basket"><img src="../../img/icon-basket.png" alt="Корзина"></button>
                    </form>
                    <div class="product_price"><span>183 000</span>руб <span class="product_price-old">193 000руб</span>
                    </div>
                    <div class="product-new">NEW</div>
                    <div class="product-discount">-20%</div>
                    <a href="#" class="basket"><img src="../../img/plus.png" alt=""></a>
                </figure>
            </div>
            <div class="col-xs-4">
                <figure class="item">
                    <div class="product_img"><img src="../../img/product.png" alt="Продукт"></div>
                    <div class="product_name">Куба белая</div>
                    <form action="" class="pull-right">
                        <button type="submit" class="basket"><img src="../../img/icon-basket.png" alt="Корзина"></button>
                    </form>
                    <div class="product_price"><span>183 000</span>руб <span class="product_price-old">193 000руб</span>
                    </div>
                    <div class="product-new">NEW</div>
                    <div class="product-discount">-20%</div>
                    <a href="#" class="basket"><img src="../../img/plus.png" alt=""></a>
                </figure>
            </div>
            <div class="col-xs-4">
                <figure class="item">
                    <div class="product_img"><img src="../../img/product.png" alt="Продукт"></div>
                    <div class="product_name">Куба белая</div>
                    <form action="" class="pull-right">
                        <button type="submit" class="basket"><img src="../../img/icon-basket.png" alt="Корзина"></button>
                    </form>
                    <div class="product_price"><span>183 000</span>руб <span class="product_price-old">193 000руб</span>
                    </div>
                    <div class="product-new">NEW</div>
                    <div class="product-discount">-20%</div>
                    <a href="#" class="basket"><img src="../../img/plus.png" alt=""></a>
                </figure>
            </div>
            <div class="col-xs-4">
                <figure class="item new discount">
                    <div class="product_img"><img src="../../img/product.png" alt="Продукт"></div>
                    <div class="product_name">Куба белая</div>
                    <form action="" class="pull-right">
                        <button type="submit" class="basket"><img src="../../img/icon-basket.png" alt="Корзина"></button>
                    </form>
                    <div class="product_price"><span>183 000</span>руб <span class="product_price-old">193 000руб</span>
                    </div>
                    <div class="product-new">NEW</div>
                    <div class="product-discount">-20%</div>
                    <a href="#" class="basket"><img src="../../img/plus.png" alt=""></a>
                </figure>
            </div>
            <div class="col-xs-4">
                <figure class="item">
                    <div class="product_img"><img src="../../img/product.png" alt="Продукт"></div>
                    <div class="product_name">Куба белая</div>
                    <form action="" class="pull-right">
                        <button type="submit" class="basket"><img src="../../img/icon-basket.png" alt="Корзина"></button>
                    </form>
                    <div class="product_price"><span>183 000</span>руб <span class="product_price-old">193 000руб</span>
                    </div>
                    <div class="product-new">NEW</div>
                    <div class="product-discount">-20%</div>
                    <a href="#" class="basket"><img src="../../img/plus.png" alt=""></a>
                </figure>
            </div>
            <div class="col-xs-4">
                <figure class="item">
                    <div class="product_img"><img src="../../img/product.png" alt="Продукт"></div>
                    <div class="product_name">Куба белая</div>
                    <form action="" class="pull-right">
                        <button type="submit" class="basket"><img src="../../img/icon-basket.png" alt="Корзина"></button>
                    </form>
                    <div class="product_price"><span>183 000</span>руб <span class="product_price-old">193 000руб</span>
                    </div>
                    <div class="product-new">NEW</div>
                    <div class="product-discount">-20%</div>
                    <a href="#" class="basket"><img src="../../img/plus.png" alt=""></a>
                </figure>
            </div>

        </section>

    </main>

    <% include part/footer.ejs %>
</div>

<% include part/modal.ejs %>
<% include part/end-html.ejs %>