<% var title = 'Онлайн конструктор-калькулятор кухни и шкафа-купе'; %>
<% include part/begin-html.ejs %>

<div class="container">
    <% include part/header.ejs %>
    <% include part/banner.ejs %>
    <ol class="breadcrumb">
        <li><a href="./main.html">Энциклопедия знаний</a></li>
        <li class="active">Видео-зал</li>
    </ol>
    <main class="constructor_3d">
        <h1>Конструктор кухни 3D онлайн. Калькулятор расчёта кухни</h1>
        <section class="attention clearfix">
            <span class="attention_content">
                <p>
                    Для того, чтобы узнать финальную стоимость мебели, необходимо создать проект. В течение всего
                    процесса моделирования вы сможете в режиме реального времени видеть, как меняется стоимость в
                    зависимости от выбранных вами материалов. Перед тем, как приступить к процессу создания проекта,
                    рекомендуем ознакомиться с нашими советами о том, каким образом формируется стоимость вашей будущей мебели.
                    Посмотреть
                </p>
                <p>
                    Онлайн 3D конструкторы кухонь и шкафов-купе «Классика Кухни» без преувеличения самые передовые
                    сервисы на всем интернет-пространстве России. Функционал позволяет в режиме реального времени сразу
                    же оформить заявку на приобретение или бесплатную доработку проекта профессиональными дизайнерами.
                    С помощью наших конструкторов вы сможете создать проект кухни или шкафа, с максимальной точностью
                    отрегулировав размеры каждого модуля. Помимо всех технических инноваций, это простая и интуитивно
                    понятная в использовании программа, которая подарит вам незабываемое творческое путешествие в мир
                    современных технологий!
                </p>
                <p>
                    Стоимость мебели, указанная в конструкторе, не включает в себя текущие акции и скидки. Поэтому,
                    если вы хотите получить более выгодные условия на покупку, оформите заявку и менеджер предоставит
                    вам актуальную стоимость с учетом всех бонусов.
                </p>
            </span>
        </section>
        <section>

            <!-- Nav tabs -->
            <ul class="constructor_3d_tabs list-unstyled row" role="tablist">
                <li class="col-xs-4" role="presentation">
                    <a href="#home" aria-controls="home" role="tab" data-toggle="tab">Технические требования</a>
                </li>
                <li class="col-xs-4" role="presentation">
                    <a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Пользователю</a>
                </li>
                <li class="col-xs-4" role="presentation">
                    <a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Вопрос-ответ</a>
                </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane" id="home">123</div>
                <div role="tabpanel" class="tab-pane" id="profile">456</div>
                <div role="tabpanel" class="tab-pane" id="messages">...</div>
            </div>

        </section>
        <div class="row">
            <section class="assortment col-xs-8">
                <article class="row">
                    <div class="col-xs-6">
                        <a href="#" class="figure">
                            <div class="img-wrap calculate_fasad_array">
                            </div>
                            <div class="text-wrap">
                                <div class="pull-right question_block">
                                    <div></div>
                                </div>
                                Рассчитать с фасадами из массива
                            </div>

                        </a>
                    </div>
                    <div class="col-xs-6">
                        <a href="#" class="figure">
                            <div class="img-wrap calculate_fasad_enamel">
                            </div>

                            <div class="text-wrap">
                                <div class="pull-right question_block">
                                    <div></div>
                                </div>
                                Рассчитать с фасадами из крашенного МДФ (эмаль)
                            </div>
                        </a>
                    </div>
                    <div class="col-xs-6">
                        <a href="#" class="figure">
                            <div class="img-wrap calculate_fasad_array">
                            </div>
                            <div class="text-wrap">
                                <div class="pull-right question_block">
                                    <div></div>
                                </div>
                                Рассчитать с фасадами из массива
                            </div>

                        </a>
                    </div>
                    <div class="col-xs-6">
                        <a href="#" class="figure">
                            <div class="img-wrap calculate_fasad_enamel">
                            </div>

                            <div class="text-wrap">
                                <div class="pull-right question_block">
                                    <div></div>
                                </div>
                                Рассчитать с фасадами из крашенного МДФ (эмаль)
                            </div>
                        </a>
                    </div>
                    <div class="col-xs-6">
                        <a href="#" class="figure">
                            <div class="img-wrap calculate_fasad_array">
                            </div>
                            <div class="text-wrap">
                                <div class="pull-right question_block">
                                    <div></div>
                                </div>
                                Рассчитать с фасадами из массива
                            </div>

                        </a>
                    </div>
                    <div class="col-xs-6">
                        <a href="#" class="figure">
                            <div class="img-wrap calculate_fasad_enamel">
                            </div>

                            <div class="text-wrap">
                                <div class="pull-right question_block">
                                    <div></div>
                                </div>
                                Рассчитать с фасадами из крашенного МДФ (эмаль)
                            </div>
                        </a>
                    </div>
                </article>
                <article class="attention mod-small clearfix">
                    <button class="btn-orange btn pull-right">онлайн заявка</button>
                    <span class="attention_content color_brown">
                        Если вам не удалось воспользоваться конструктором, заполните простую форму онлайн заявки
                    </span>

                </article>
                <article>
                    <p>
                        Время не стоит на месте, и интернет-технологии идут вперед семимильными шагами. Сегодня уже мало
                        увидеть красивую фотографию кухонной мебели на сайте продавца, ведь это совсем не гарантирует,
                        что именно эта кухня идеально впишется в интерьер. На помощь приходит планировщик кухни 3D.
                        Именно таким и должен быть современный и удобный конструктор кухни! Приятного вам
                        времяпрепровождения и творческого вдохновения!
                    </p>
                    <p>
                        Вам все это, наверное, покажется фантастикой, и в целом вы правы, это почти так. Найти сервис
                        «расчет кухни», который бы соответствовал всем этим требованиям практически невозможно.
                        Если бы не… Онлайн конструктор "Классика Кухни" на сегодняшний день не имеет аналогов в России.
                        Абсолютно новые технологии позволили нам воплотить в жизнь все требования современного
                        покупателя!
                    </p>
                    <p>
                        Оцените все возможности технологий будущего!
                    </p>
                    <p>
                        Посмотреть обсуждение конструктора на
                        <a class="forumhouse" href="#">
                            <strong>forumhouse.ru</strong>
                        </a>
                    </p>
                </article>


            </section>
            <section class="gallery col-xs-4">
                <% include part/gallery_bank.ejs %>
                <% include part/gallery_discount.ejs %>
                <% include part/gallery_catalog_kitchen.ejs %>
                <% include part/gallery_photo.ejs %>
            </section>
        </div>

    </main>
    <% include part/footer.ejs %>
</div>

<% include part/modal.ejs %>
<% include part/end-html.ejs %>