<% var title = 'Онлайн конструктор-калькулятор кухни и шкафа-купе'; %>
<% include part/begin-html.ejs %>

<div class="container">
    <% include part/header.ejs %>
    <% include part/banner.ejs %>
    <ol class="breadcrumb">
        <li><a href="./main.html">Энциклопедия знаний</a></li>
        <li class="active">Видео-зал</li>
    </ol>
    <main class="constructor_3d">
        <h1>Конструктор кухни 3D онлайн. Калькулятор расчёта кухни</h1>
        <section class="attention clearfix">
            <span class="attention_content">
                <p>
                    Для того, чтобы узнать финальную стоимость мебели, необходимо создать проект. В течение всего
                    процесса моделирования вы сможете в режиме реального времени видеть, как меняется стоимость в
                    зависимости от выбранных вами материалов. Перед тем, как приступить к процессу создания проекта,
                    рекомендуем ознакомиться с нашими советами о том, каким образом формируется стоимость вашей будущей мебели.
                    Посмотреть
                </p>
                <p>
                    Онлайн 3D конструкторы кухонь и шкафов-купе «Классика Кухни» без преувеличения самые передовые
                    сервисы на всем интернет-пространстве России. Функционал позволяет в режиме реального времени сразу
                    же оформить заявку на приобретение или бесплатную доработку проекта профессиональными дизайнерами.
                    С помощью наших конструкторов вы сможете создать проект кухни или шкафа, с максимальной точностью
                    отрегулировав размеры каждого модуля. Помимо всех технических инноваций, это простая и интуитивно
                    понятная в использовании программа, которая подарит вам незабываемое творческое путешествие в мир
                    современных технологий!
                </p>
                <p>
                    Стоимость мебели, указанная в конструкторе, не включает в себя текущие акции и скидки. Поэтому,
                    если вы хотите получить более выгодные условия на покупку, оформите заявку и менеджер предоставит
                    вам актуальную стоимость с учетом всех бонусов.
                </p>
            </span>
        </section>
        <section class="constructor_3d_catalog">

            <!-- Nav tabs -->
            <ul class="constructor_3d_catalog_tabs list-unstyled row" role="tablist">
                <li class="col-xs-4 " role="presentation">
                    <a href="#technicalRequirements" aria-controls="technicalRequirements" role="tab" data-toggle="tab">Технические
                        требования</a>
                </li>
                <li class="col-xs-4 " role="presentation">
                    <a href="#userDocumentation" aria-controls="userDocumentation" role="tab" data-toggle="tab">Пользователю</a>
                </li>
                <li class="col-xs-4 " role="presentation">
                    <a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Вопрос-ответ</a>
                </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class=" tab-pane clearfix" id="technicalRequirements">
                    <h4>Условные обозначения:</h4>

                    <div class="row">
                        <div class="constructor_3d_catalog_header col-xs-4">
                            <div class="backgroun_green"></div>
                            Поддерживается в браузере
                        </div>
                        <div class="constructor_3d_catalog_header col-xs-4">

                            <div class="backgroun_lgreen"></div>
                            Частично поддерживается в браузере
                        </div>
                        <div class="constructor_3d_catalog_header col-xs-4">
                            <div class="backgroun_red"></div>
                            Не поддерживается в браузере
                        </div>
                    </div>

                    <hr>

                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>
                                <a target="_blank"
                                   href="http://windows.microsoft.com/ru-ru/internet-explorer/download-ie">
                                    IE <br>Скачать
                                </a>
                            </th>
                            <th>
                                <a target="_blank" href="https://www.mozilla.org/ru/firefox/new/#download-fx">
                                    Firefox <br>Скачать
                                </a>
                            </th>
                            <th>
                                <a target="_blank" href="http://www.google.ru/chrome/">
                                    Chrome <br>Скачать
                                </a>
                            </th>
                            <th>
                                <a target="_blank" href="http://support.apple.com/kb/dl1531">
                                    Safari <br>Скачать
                                </a>
                            </th>
                            <th>
                                <a target="_blank" href="http://www.opera.com">
                                    Opera <br>Скачать
                                </a>
                            </th>
                            <th>iOS Safari</th>
                            <th>Opera Mini</th>
                            <th>Android Browser</th>
                            <th>Chrome for Android</th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr>
                            <td class="ft">
                                <div class="backgroun_red">8</div>
                            </td>
                            <td class="ft">
                                <div class="backgroun_lgreen">31</div>
                            </td>
                            <td class="ft">
                                <div class="backgroun_green">31</div>
                            </td>
                            <td class="ft">
                                <div class="backgroun_lgreen">5.1</div>
                            </td>
                            <td class="ft">
                                <div class="backgroun_lgreen">24</div>
                            </td>
                            <td class="ft">
                                <div class="backgroun_red">7.1</div>
                            </td>
                            <td class="ft">
                                <div class="backgroun_red">8</div>
                            </td>
                            <td class="ft">
                                <div class="backgroun_red">2.3</div>
                            </td>
                            <td class="ft">
                                <div class="backgroun_lgreen">38</div>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <div class="backgroun_red">9</div>
                            </td>
                            <td>
                                <div class="backgroun_lgreen">32</div>
                            </td>
                            <td>
                                <div class="backgroun_green">33</div>
                            </td>
                            <td>
                                <div class="backgroun_lgreen">6.1</div>
                            </td>
                            <td>
                                <div class="backgroun_lgreen">25</div>
                            </td>
                            <td>
                                <div class="backgroun_green">8</div>
                            </td>
                            <td></td>
                            <td>
                                <div class="backgroun_red">4</div>
                            </td>
                            <td></td>
                        </tr>

                        <tr>
                            <td>
                                <div class="backgroun_red">10</div>
                            </td>
                            <td>
                                <div class="backgroun_lgreen">33</div>
                            </td>
                            <td>
                                <div class="backgroun_green">34</div>
                            </td>
                            <td>
                                <div class="backgroun_lgreen">7</div>
                            </td>
                            <td>
                                <div class="backgroun_lgreen">26</div>
                            </td>
                            <td colspan="2"></td>
                            <td>
                                <div class="backgroun_red">4.1</div>
                            </td>
                            <td></td>
                        </tr>

                        <tr>
                            <td>
                                <div class="backgroun_green">11</div>
                            </td>
                            <td>
                                <div class="backgroun_lgreen">34</div>
                            </td>
                            <td>
                                <div class="backgroun_green">35</div>
                            </td>
                            <td>
                                <div class="backgroun_lgreen">7.1</div>
                            </td>
                            <td colspan="3"></td>

                            <td>
                                <div class="backgroun_red">4.3</div>
                            </td>
                            <td></td>
                        </tr>

                        <tr>
                            <td></td>
                            <td>
                                <div class="backgroun_lgreen">35</div>
                            </td>
                            <td>
                                <div class="backgroun_green">36</div>
                            </td>
                            <td>
                                <div class="backgroun_lgreen">8</div>
                            </td>
                            <td colspan="3"></td>
                            <td>
                                <div class="backgroun_red">4.4</div>
                            </td>
                            <td></td>
                        </tr>

                        <tr>
                            <td></td>
                            <td>
                                <div class="backgroun_lgreen">36</div>
                            </td>
                            <td>
                                <div class="backgroun_green">37</div>
                            </td>
                            <td colspan="4"></td>

                            <td>
                                <div class="backgroun_red">4.4.3</div>
                            </td>
                            <td></td>
                        </tr>

                        <tr>
                            <td colspan="2"></td>
                            <td>
                                <div class="backgroun_green">38</div>
                            </td>
                            <td colspan="6"></td>
                        </tr>

                        <tr>
                            <td colspan="2"></td>
                            <td>
                                <div class="backgroun_green">39</div>
                            </td>
                            <td colspan="6"></td>
                        </tr>

                        <tr>
                            <td colspan="2"></td>
                            <td>
                                <div class="backgroun_green">40</div>
                            </td>
                            <td colspan="6"></td>
                        </tr>

                        <tr>
                            <td colspan="2"></td>
                            <td>
                                <div class="backgroun_green">41</div>
                            </td>
                            <td colspan="6"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div role="tabpanel" class=" tab-pane" id="userDocumentation">
                    <h4>О конструкторе</h4>
                    <div class="row">
                        <div class="constructor_3d_catalog_docum-mod-left col-xs-6">
                            <div class="constructor_3d_catalog_docum_item home">
                                <span>Возврат на главную страницу</span>
                            </div>
                            <div class="constructor_3d_catalog_docum_item d-settings">
                            <span>
                                Позволяет настроить и максимально визуализировать ваш будущий шкаф: определить тип
                                шкафа, задать размеры помещения, выбрать оформление стен, цвет и фактуру пола.
                            </span>
                            </div>
                            <div class="constructor_3d_catalog_docum_item cabinet">
                            <span>
                                <p>Здесь происходит основная работа по компоновке шкафа.</p>
                                <p>
                                    В вашем распоряжении большой диапазон размеров и типов шкафов, возможность менять
                                    размеры шкафа, выбор типа фасада – остекление или глухой.
                                </p>
                                <p>
                                    Если вы не нашли модуль нужного вам размера, введите цифры в поле «комментарии».
                                </p>
                            </span>
                            </div>
                            <div class="constructor_3d_catalog_docum_item cabinet_settings">
                            <span>
                                Выбор материалов шкафа, типа раздвижной системы, цвета корпуса шкафа, наполнения
                                фасадов, ручек.
                            </span>
                            </div>
                            <div class="constructor_3d_catalog_docum_item doc_basket">
                            <span>
                                <p>
                                    Если вы уверены, что созданный вами шкаф вас полностью устраивает, вы можете
                                    оформить заявку, предварительно пройдя несложную процедуру авторизации.
                                </p>
                                <p>
                                    Нажимая кнопку «заказать» вы лишь выражаете свое намерение приобрести шкаф, то есть
                                    сделка не является публичной афертой.
                                </p>
                                <p>
                                    Наш менеджер в ближайшее время свяжется с вами для выяснения деталей по вашему
                                    проекту.
                                </p>
                            </span>
                            </div>
                            <div class="constructor_3d_catalog_docum_item settings">
                            <span>
                                Регулировка яркости, качества графики, угла обзора.
                            </span>
                            </div>
                        </div>
                        <div class="constructor_3d_catalog_docum-mod-right col-xs-6">
                            <div class="constructor_3d_catalog_docum_item questins">
                                <span>Ответы на наиболее частые вопросы, связанные с работой конструктора.</span>
                            </div>
                            <div class="constructor_3d_catalog_docum_item basket_price">
                            <span>
                                Здесь вы можете видеть стоимость мебели в режиме онлайн, что позволяет регулировать
                                цену на каждом этапе создания проекта.
                            </span>
                            </div>
                            <div class="constructor_3d_catalog_docum_item open">
                            <span>
                                Открывание дверей и выдвижных секций. Наведите курсор и нажмите левую клавишу.
                            </span>
                            </div>
                            <div class="constructor_3d_catalog_docum_item view">
                            <span>
                                Установить вид по умолчанию. Позволяет автоматически установить общий обзор шкафа.
                            </span>
                            </div>
                            <div class="constructor_3d_catalog_docum_item full_hd">
                            <span>
                                Полноэкранный режим конструктора.
                            </span>
                            </div>
                            <div class="constructor_3d_catalog_docum_item save">
                            <span>
                                Сохранить проект с возможностью вернуться к нему. Пройдите авторизацию. На указанный
                                вами адрес будет оправлено письмо со ссылкой на ваш проект. В любое удобное время вы
                                сможете вернуться, и внести изменения. В конце сессии необходимо сохранить проект.
                            </span>
                            </div>
                            <div class="constructor_3d_catalog_docum_item save_img">
                            <span>
                                Сохранить изображение на свой компьютер в формате JPEG.
                            </span>
                            </div>
                            <div class="constructor_3d_catalog_docum_item user">
                            <span>
                                Регистрация и авторизации. Введите свои регистрационные данные и продолжайте работу
                                с сохраненным проектом.
                            </span>
                            </div>
                        </div>
                    </div>


                </div>
                <div role="tabpanel" class="tab-pane" id="messages">
                    <p>
                        <strong>У меня не загружается конструктор.</strong> Наш Конструктор работает на базе программы
                        Web Gl, которую не поддерживают браузеры в устаревшей версии. Подробная информация и возможность
                        скачать или обновить браузер во вкладке «Технические требования» на странице данного сервиса на
                        нашем сайте
                    </p>
                    <p>
                        <strong>
                            Я не готов заказать шкаф прямо сейчас, потому что хотел бы доработать проект позже.
                        </strong>
                        Если вы не готовы заказать шкаф, нажмите кнопку «сохранить». Это позволит вам вернуться к
                        проекту позже без оформления заказа
                    </p>
                    <p>
                        <strong>Как вернуться к своему проекту позже?</strong> По окончании работы сохраните ваш проект,
                        если вы используете конструктор впервые, вам будет предложено пройти несложный процесс
                        регистрации, и на указанный электронный адрес будет отправлено письмо со ссылкой на ваш
                        проект. Так же, вы всегда можете вернуться к последней версии проекта, для этого необходимо
                        зайти на наш сайт в раздел «онлайн расчет», и ввести свои данные в поле авторизации.
                        Не забывайте сохраняться после каждой сессии.
                    </p>

                    <p>
                        <strong>Что влияет на конечную стоимость шкафа?</strong>
                        Если перед вами стоит задача собрать максимально недорогой шкаф, выбирайте самые простые
                        технические решения, например:
                    <ul class="list-unstyled">
                        <li>шкаф с двумя дверцами так же доступнее аналогичного с тремя фасадами</li>
                        <li>попробуйте просчитать ваш проект с разными типами фасадов</li>
                        <li>Просто наблюдайте за стоимостью в процессе выбора той, или иной части шкафа</li>
                    </ul>
                    </p>
                    <p>
                        <strong>Соответствует ли цена в калькуляторе реальной стоимости, и нет скрытых последующих
                            платежей?</strong>
                        Стоимость абсолютно реальная. После оформления заказа, с вами свяжется наш менеджер и вы сможете
                        уточнить все детали. Но обращаем внимание, что сюда не входит сборка и доставка мебели.
                        Как правило, сборка стоит 10%, доставка от 1200 рублей.
                    </p>
                    <p>
                        <strong>У вас нет тех вариантов корпусов, которые мне нужны, что делать?</strong> После того,
                        как вы установили модуль в поле конструктора, щелкните по нему левой клавишей мыши, слева
                        откроется меню, где вы сможете задать более подробные параметры секции, если и там не нашлось
                        нужного варианта, ниже есть поле для внесения комментариев, заполните его и мы учтем эту
                        особенность при оформлении заказа.
                    </p>
                    <p>
                        <strong>Как узнать что именно вошло в стоимость шкафа?</strong> В стоимость мебели, обычно,
                        входит все, что вы видите на картинке. Если вам нужна подробная спецификация вашего заказа,
                        пришлите запрос на наш электронный адрес info@classicakuhni.ru , и мы обязательно предоставим
                        вам детальную информацию по проекту.
                    </p>
                    <p>
                        Если вы не нашли ответа на интересующий вас вопрос, отправьте его на наш электронный адрес
                        <a href="mailto:ask@htmlbook.ru" class="link">info@classicakuhni.ru</a>.
                        Мы обязательно ответим и опубликуем его в данном разделе
                    </p>
                </div>
            </div>

        </section>
        <div class="row">
            <section class="assortment col-xs-8">
                <article class="row">
                    <div class="col-xs-6">
                        <a href="#" class="figure">
                            <div class="img-wrap calculate_fasad_array">
                            </div>
                            <div class="text-wrap">
                                <div class="pull-right question_block">
                                    <div></div>
                                </div>
                                Рассчитать с фасадами из массива
                            </div>

                        </a>
                    </div>
                    <div class="col-xs-6">
                        <a href="#" class="figure">
                            <div class="img-wrap calculate_fasad_enamel">
                            </div>

                            <div class="text-wrap">
                                <div class="pull-right question_block">
                                    <div></div>
                                </div>
                                Рассчитать с фасадами из крашенного МДФ (эмаль)
                            </div>
                        </a>
                    </div>
                    <div class="col-xs-6">
                        <a href="#" class="figure">
                            <div class="img-wrap calculate_fasad_array">
                            </div>
                            <div class="text-wrap">
                                <div class="pull-right question_block">
                                    <div></div>
                                </div>
                                Рассчитать с фасадами из массива
                            </div>

                        </a>
                    </div>
                    <div class="col-xs-6">
                        <a href="#" class="figure">
                            <div class="img-wrap calculate_fasad_enamel">
                            </div>

                            <div class="text-wrap">
                                <div class="pull-right question_block">
                                    <div></div>
                                </div>
                                Рассчитать с фасадами из крашенного МДФ (эмаль)
                            </div>
                        </a>
                    </div>
                    <div class="col-xs-6">
                        <a href="#" class="figure">
                            <div class="img-wrap calculate_fasad_array">
                            </div>
                            <div class="text-wrap">
                                <div class="pull-right question_block">
                                    <div></div>
                                </div>
                                Рассчитать с фасадами из массива
                            </div>

                        </a>
                    </div>
                    <div class="col-xs-6">
                        <a href="#" class="figure">
                            <div class="img-wrap calculate_fasad_enamel">
                            </div>

                            <div class="text-wrap">
                                <div class="pull-right question_block">
                                    <div></div>
                                </div>
                                Рассчитать с фасадами из крашенного МДФ (эмаль)
                            </div>
                        </a>
                    </div>
                </article>
                <article class="attention mod-small clearfix">
                    <button class="btn-orange btn pull-right">онлайн заявка</button>
                    <span class="attention_content color_brown">
                        Если вам не удалось воспользоваться конструктором, заполните простую форму онлайн заявки
                    </span>

                </article>
                <article>
                    <p>
                        Время не стоит на месте, и интернет-технологии идут вперед семимильными шагами. Сегодня уже мало
                        увидеть красивую фотографию кухонной мебели на сайте продавца, ведь это совсем не гарантирует,
                        что именно эта кухня идеально впишется в интерьер. На помощь приходит планировщик кухни 3D.
                        Именно таким и должен быть современный и удобный конструктор кухни! Приятного вам
                        времяпрепровождения и творческого вдохновения!
                    </p>
                    <p>
                        Вам все это, наверное, покажется фантастикой, и в целом вы правы, это почти так. Найти сервис
                        «расчет кухни», который бы соответствовал всем этим требованиям практически невозможно.
                        Если бы не… Онлайн конструктор "Классика Кухни" на сегодняшний день не имеет аналогов в России.
                        Абсолютно новые технологии позволили нам воплотить в жизнь все требования современного
                        покупателя!
                    </p>
                    <p>
                        Оцените все возможности технологий будущего!
                    </p>
                    <p>
                        Посмотреть обсуждение конструктора на
                        <a class="link" href="#">
                            <strong>forumhouse.ru</strong>
                        </a>
                    </p>
                </article>


            </section>
            <section class="gallery col-xs-4">
                <% include part/gallery_bank.ejs %>
                <% include part/gallery_discount.ejs %>
                <% include part/gallery_catalog_kitchen.ejs %>
                <% include part/gallery_photo.ejs %>
            </section>
        </div>

    </main>
    <% include part/footer.ejs %>
</div>

<% include part/modal.ejs %>
<% include part/end-html.ejs %>