<% var title = 'Онлайн конструктор-калькулятор кухни и шкафа-купе'; %>
<% include part/begin-html.ejs %>

<div class="container">
    <% include part/header.ejs %>
    <% include part/banner.ejs %>
    <ol class="breadcrumb">
        <li><a href="./main.html">Классика кухни</a></li>
        <li class="active">Онлайн конструктор-калькулятор кухни и шкафа-купе</li>
    </ol>
    <main>
        <h1>Онлайн конструктор-калькулятор кухни и шкафа-купе</h1>
        <section class="attention clearfix">
            <span class="attention_content">
                <p>
                    Для того, чтобы узнать финальную стоимость мебели, необходимо создать проект. В течение всего
                    процесса моделирования вы сможете в режиме реального времени видеть, как меняется стоимость в
                    зависимости от выбранных вами материалов. Перед тем, как приступить к процессу создания проекта,
                    рекомендуем ознакомиться с нашими советами о том, каким образом формируется стоимость вашей будущей мебели.
                    Посмотреть
                </p>
                <p>
                    Онлайн 3D конструкторы кухонь и шкафов-купе «Классика Кухни» без преувеличения самые передовые
                    сервисы на всем интернет-пространстве России. Функционал позволяет в режиме реального времени сразу
                    же оформить заявку на приобретение или бесплатную доработку проекта профессиональными дизайнерами.
                    С помощью наших конструкторов вы сможете создать проект кухни или шкафа, с максимальной точностью
                    отрегулировав размеры каждого модуля. Помимо всех технических инноваций, это простая и интуитивно
                    понятная в использовании программа, которая подарит вам незабываемое творческое путешествие в мир
                    современных технологий!
                </p>
                <p>
                    Стоимость мебели, указанная в конструкторе, не включает в себя текущие акции и скидки. Поэтому,
                    если вы хотите получить более выгодные условия на покупку, оформите заявку и менеджер предоставит
                    вам актуальную стоимость с учетом всех бонусов.
                </p>
            </span>
        </section>
        <section class="encyclopedia_section">
            <article class="gallery row">
                <div class="col-xs-4">
                    <% include part/gallery_kitchen.ejs %>
                </div>
                <div class="col-xs-4">
                    <% include part/gallery_wardrobe.ejs %>
                </div>
                <div class="col-xs-4">
                    <% include part/gallery_bank.ejs %>
                </div>
                <div class="col-xs-4">
                    <% include part/gallery_catalog_kitchen.ejs %>
                </div>
                <div class="col-xs-4">
                    <% include part/gallery_cupboard.ejs %>
                </div>
                <div class="col-xs-4">
                    <% include part/gallery_photo.ejs %>
                </div>
            </article>

        </section>
    </main>
    <% include part/footer.ejs %>
</div>

<% include part/modal.ejs %>
<% include part/end-html.ejs %>