<% var title = 'Онлайн конструктор-калькулятор кухни и шкафа-купе'; %>
<% include part/begin-html.ejs %>

<div class="container">
    <% include part/header.ejs %>
    <% include part/banner.ejs %>
    <ol class="breadcrumb">
        <li><a href="./main.html">Классика кухни</a></li>
        <li class="active">Онлайн конструктор-калькулятор кухни и шкафа-купе</li>
    </ol>
    <main>
    </main>



    <% include part/footer.ejs %>
</div>

<% include part/modal.ejs %>
<% include part/end-html.ejs %>