<% var title = 'Kухонные фасады'; %>
<% include part/begin-html.ejs %>

<div class="page_gallery container">
    <% include part/header.ejs %>
    <% include part/banner.ejs %>

    <ol class="breadcrumb">
        <li><a href="./main.html">Классика кухни</a></li>
        <li><a href="./encyclopedia_knowledge.html">Энциклопедия знаний</a></li>
        <li class="active">Кухонные фасады</li>
    </ol>

    <section class="attention clearfix">
            <span class="attention_content">
                ШАБЛОННЫЙ ТЕКСТ Герои этих произведений, объединенных общим сюжетом, – мальчишки с храбрыми сердцами и
                взрослые, не утратившие мальчишеской храбрости, озорства и веры в сказку. Сквозь странный сон, сквозь
                пространство и время, главный герой возвращается в детство, переживает то, что было и то, что только могло
                быть… Там, в снах, в другом мире – Валерка и Братик, и барабанщики… В реальности – приятель Володька…
                И как разорваться герою? Но прошлое и настоящее рождают новое будущее. Не веревочка свяжет планеты,
                а дружба мальчишек…
            </span>
    </section>

    <h1>кухонные фасады</h1>
    <div class="gallery row encyclopedia_section">
        <main class="encyclopedia_section col-xs-8">
            <section class="assortment">
                <article class="row">
                    <div class="col-xs-6">
                        <a href="#" class="figure">
                            <div class="img-wrap fasad_ital">
                            </div>
                            <div class="text-wrap">Фасады из массива производства Италии</div>
                        </a>
                    </div>
                    <div class="col-xs-6">
                        <a href="#" class="figure">
                            <div class="img-wrap fasad_Ras">
                            </div>
                            <div class="text-wrap">Фасады из массива производства России</div>
                        </a>
                    </div>
                    <div class="col-xs-6">
                        <a href="#" class="figure">
                            <div class="img-wrap fasad_plastic">
                            </div>
                            <div class="text-wrap">Фасады из пластика</div>
                        </a>
                    </div>
                    <div class="col-xs-6">
                        <a href="#" class="figure">
                            <div class="img-wrap fasad_PVH">
                            </div>
                            <div class="text-wrap">Фасады из МДФ в пленке ПВХ</div>
                        </a>
                    </div>
                    <div class="col-xs-6">
                        <a href="#" class="figure">
                            <div class="img-wrap fasad_enamel">
                            </div>
                            <div class="text-wrap">Фасады из МДФ эмаль (крашеные)</div>
                        </a>
                    </div>
                    <div class="col-xs-6">
                        <a href="#" class="figure">
                            <div class="img-wrap fasad_glass">
                            </div>
                            <div class="text-wrap">Витражи</div>
                        </a>
                    </div>
                </article>
            </section>
        </main>
        <aside class="col-xs-4">
            <% include part/gallery_bank.ejs %>
            <% include part/gallery_discount.ejs %>
            <% include part/gallery_catalog_kitchen.ejs %>
        </aside>
    </div>
    <% include part/footer.ejs %>

</div>

<% include part/modal.ejs %>
<% include part/end-html.ejs %>