<% var title = 'Полезно знать'; %>
<% include part/begin-html.ejs %>
<div class="container">
    <% include part/header.ejs %>
    <ol class="breadcrumb">
        <li><a href="./main.html">Классика кухни</a></li>
        <li class="active">Полезно знать</li>
    </ol>
    <main class="page_discount">
        <h1 class="text-uppercase color_brown"><strong>Полезно знать</strong></h1>
        <section class="clearfix">
            <a class="pull-left" href="#"><img src="../../img/kitchen_akciy.png" alt=""></a>
            <article class="page_discount_description">
                <h4>
                    <a class="color_brown text-uppercase" href="#">Особенности выбора кухни из пластика</a>
                </h4>
                <p>
                    Девизом стиля хай тек стал слоган «больше света!» В таких помещениях Должно быть не только много
                </p>
            </article>
            <a class="color_orange text-uppercase" href="#">Подробнее</a>
        </section>
        <section class="clearfix">
            <a class="pull-left" href="#"><img src="../../img/kitchen_akciy.png" alt=""></a>
            <article class="page_discount_description">
                <h4>
                    <a class="color_brown text-uppercase" href="#">Особенности выбора кухни из пластика</a>
                </h4>
                <p>
                    Девизом стиля хай тек стал слоган «больше света!» В таких помещениях Должно быть не только много
                    света, но и воздуха. А значит, что нужны большие окна и яркие светильники. Однако далеко не все
                    кухни имеют большую площадь, и, как правило, хорошо освещены именно маленькие помещения. А вот
                    большие кухни, особенно имеющие окно на узкой стене, бывают «обделены» нужным количеством дневного
                    света. Конечно, можно воспользоваться дополнительными источниками света, однако это не всегда разумно,
                    не экономично, да и не все фонарики, споты и т.д. могут гармонично вписаться в интерьер. А вот
                    использование отражающих поверхностей как раз позволит вам сэкономить драгоценную электроэнергию.
                    Но если вы выберете пластиковые фасады, то экономия окажется более значительной, так как это намного дешевле, чем фасады из дерева.
                    Кухни из пластика тоже могут потребовать дополнительной подсветки, однако её может б

                </p>
            </article>
            <a class="color_orange text-uppercase" href="#">Подробнее</a>
        </section>
    </main>
    <% include part/footer.ejs %>
</div>

<% include part/modal.ejs %>
<% include part/end-html.ejs %>