<% var title = 'Главная'; %>
<% include part/begin-html.ejs %>

<div class="container">
    <% include part/header.ejs %>
    <main>
        <section>
            <div class="row">
                <div class="main_header col-xs-3">
                    <div class="main_header_intres">
                        <h4>ЗНАКОМЬТЕСЬ - КУБА!</h4>
                        <p class="main_header_intres-caption">эксклюзивный проект</p>
                        <a href="#">подробнее</a>
                        <!--<div class="dimmer"></div>-->
                    </div>
                    <div class="main_header_designer">
                        <h4>3D конструктор</h4>
                        <a href="#">онлайн расчет</a>
                        <!--<div class="dimmer"></div>-->
                    </div>

                </div>
                <div class="main_header_action col-xs-9">

                    <div id="carousel-example-generic" class="carousel slide" >
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                        </ol>

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                            <div class="item active">
                                <img src="../../img/akciy.png" alt="">
                                <h2>Акция! <span>до 01.05.16</span></h2>
                                <h3>"УЛЬТРА ВСЁ ВКЛЮЧЕНО" <span>экономия до 30%</span></h3>
                            </div>
                            <div class="item">
                                <img src="../../img/akciy.png" alt="">
                                <h2>Акция! <span>до 01.05.16</span></h2>
                                <h3>"Lorem ipsum dolor" <span>экономия до 30%</span></h3>
                            </div>
                            <div class="item">
                                <img src="../../img/akciy.png" alt="">
                                <h2>Акция! <span>до 01.05.16</span></h2>
                                <h3>"Sit amet consectetur" <span>экономия до 30%</span></h3>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>
        <% include part/advantages.ejs %>
        <section class="slider">
            <% var sliderTitle = 'Товары по акции'; %>
            <% include part/slider.ejs %>
            <article class="gallery">
                <div class="slider_panel" id="nav">
                    <button id="designerPrev" class="lera btn-prev btn btn-default"><i class="material-icons">navigate_before</i>
                    </button>
                    <button id="designerNext" class="btn-next btn btn-default"><i class="material-icons">navigate_next</i></button>
                </div>

                <h2 class="">
                    конструктор 3D онлайн
                </h2>
                <hr>
                <div class="clearfix"></div>
                <div id="designer">
                    <% include part/gallery_kitchen.ejs %>
                    <% include part/gallery_wardrobe.ejs %>
                    <% include part/gallery_bank.ejs %>
                    <% include part/gallery_kitchen.ejs %>
                    <% include part/gallery_wardrobe.ejs %>
                    <% include part/gallery_bank.ejs %>
                </div>
            </article>
            <article class="gallery">
                <div class="slider_panel" id="nav">
                    <button id="encyclopediaPrev" class="lera btn-prev btn btn-default"><i class="material-icons">navigate_before</i>
                    </button>
                    <button id="encyclopediaNext" class="btn-next btn btn-default"><i class="material-icons">navigate_next</i></button>
                </div>

                <h2 class="">
                    ЭНЦИКЛОПЕДИЯ ЗНАНИЙ
                </h2>
                <hr>
                <div class="clearfix"></div>
                <div id="encyclopedia">
                    <% include part/gallery_article.ejs %>
                    <% include part/gallery_video.ejs %>
                    <% include part/gallery_photo.ejs %>
                </div>
            </article>
        </section>

        <section>
            <article class="order">
                <h2>Кухни на заказ <span>недорого от производителя</span></h2>
                <ul class="list-unstyled">
                    <li>
                        <span>Основной профиль компании «Классика Кухни»</span> - продажа мебели собственного
                        производства,
                        а также, оптовые поставки фасадов из массива, пластика, МДФ.
                    </li>
                    <li>
                        <span>Сегодня "Классика Кухни" это:</span> Большой и дружный коллектив единомышленников.
                        <div>Передовые технологии продаж мебели и современный производственно-складской комплекс.</div>
                    </li>
                    <li>
                        <span>Лучший в России 3D конструктор мебели,</span> предназначенный для самостоятельного
                        создания проектов кухонь и шкафов-купе.
                        <div>Обширная дилерская сеть по Москве и Московской области.</div>
                    </li>
                    <li>
                        <span>Несколько фирменных салонов в Москве,</span> центральный шоу-рум и офис продаж в г.
                        Мытищи.
                        <div>Авторская запатентованная программа для людей с активной жизненной позицией "Клуб Друзей"
                        </div>
                        <div>Доверьте нам оформление вашего дома, и вы увидите, какими красками и благородными оттенками
                            наполнится ваш интерьер. Мода на кухонную мебель меняется часто, и лишь классика не
                            подвержена
                            веяниям времени, оставаясь всегда образцом стиля и добротности. А с кухнями компании
                            «Классика
                            Кухни» еще экологичными и надежными!
                        </div>
                    </li>
                </ul>
            </article>
            <article class="articles row">
                <div class="col-xs-3">
                    <img src="../../img/tehno.png" alt="">
                    <h5> Особенности выбора кухни из пластика</h5>
                    <hr>
                    <p>Девизом стиля хай тек стал слоган «больше света!» В таких помещениях Должно быть не только много
                        свет воздуха значит, что нужны большиe и яркие светильники. Однако далеко не все кухни имеют
                        большую площадь, и, как правило, хорошо освещены именно маленькие помещения
                        А вот большие кухни, особенно имеющие окно на узкой стене, бывают «обделены» нужным количеством
                        дневного света.
                        Конечно, можно воспользоваться дополнительными источниками света однако это не всегда разумно,
                        не экономично, да и не все фонарики, споты и т.д. могут гармонично вписаться в интерьер. А вот
                        использование отражающих поверхностей как раз позволит вам сэкономить драгоценную
                        электроэнергию.
                        Но если вы выберете пластиковые фасады, то экономия окажется более значительной, так как это
                        намного дешевле, чем фасады из дерева.
                    </p>
                    <a href="javascript:void(0)">подробнее</a>
                </div>
                <div class="col-xs-3">
                    <img src="../../img/garnitur.png" alt="">
                    <h5>Купить кухню недорого. Или как не прогадать на покупке кухонной мебели</h5>
                    <hr>
                    <p>
                        Никогда не торопитесь с покупкой мебели. Внимательно изучите рынок предложений. Как правило,
                        для... тщательного мониторинга цен и принятия решения, достаточно разослать запросы, и получить
                        около 25 предложений.
                    </p>
                    <a href="javascript:void(0)">подробнее</a>
                </div>
                <div class="col-xs-3">
                    <img src="../../img/tehno.png" alt="">
                    <h5>Словарь мебельной терминологии</h5>
                    <hr>
                    <p>
                        Балясина – элемент декора, похожий на бордюр, который устанавливают на открытых полках. Балясины ...
                        из дерева.

                        Витраж – фасад со стеклом.

                        Жалюзи – декоративный фасад. Используется в основном для мини-кухонь.Жалюзи изготавливаются из
                        пластикового  профиля.
                    </p>
                    <a href="javascript:void(0)">подробнее</a>
                </div>

                <div class="col-xs-3">
                    <img src="../../img/fasad.png" alt="">
                    <h5>Кухонные фасады. Разновидности</h5>
                    <hr>
                    <p>
                        Девизом стиля хай тек стал слоган «больше света!» В таких помещениях Должно быть не только много
                        света ... но и воздуха значит, что нужны большие...
                        и яркие светильники. Однако далеко не все кухни имеют большую площадь, и, как правило, хорошо
                        освещены именно маленькие помещения...
                        А вот большие кухни, особенно имеющие окно на узкой стене, бывают «обделены» нужным количеством
                        дневного света. Конечно, можно воспользоваться... дополнительными источниками света... однако
                        это не всегда разумно, не экономично, да и не все фонарики, споты и т.д. могут гармонично
                        вписаться в интерьер. А вот использование отражающих поверхностей как раз позволит вам сэкономить
                        драгоценную электроэнергию. Но если вы выберете пластиковые фасады, то экономия окажется более
                        значительной, так как это намного дешевле, чем фасады из дерева.
                    </p>
                    <a href="javascript:void(0)">подробнее</a>
                </div>
            </article>
        </section>
    </main>
    <% include part/footer.ejs %>
</div>

<% include part/modal.ejs %>
<% include part/end-html.ejs %>