<% var title = 'Реализованные проекты'; %>
<% include part/begin-html.ejs %>

<div class="page_gallery container">
    <% include part/header.ejs %>
    <% include part/banner.ejs %>

    <ol class="breadcrumb">
        <li><a href="./main.html">Классика кухни</a></li>
        <li><a href="./encyclopedia_knowledge.html">Энциклопедия знаний</a></li>
        <li class="active">Реализованные проекты</li>
    </ol>

    <div class="clearfix">
        <button class="btn btn-orange">прислать свои фото</button>
        <section class="attention clearfix">
            <span class="attention_content">
                ШАБЛОННЫЙ ТЕКСТ Герои этих произведений, объединенных общим сюжетом, – мальчишки с храбрыми сердцами и
                взрослые, не утратившие мальчишеской храбрости, озорства и веры в сказку. Сквозь странный сон, сквозь
                пространство и время, главный герой возвращается в детство, переживает то, что было и то, что только могло
                быть… Там, в снах, в другом мире – Валерка и Братик, и барабанщики… В реальности – приятель Володька…
                И как разорваться герою? Но прошлое и настоящее рождают новое будущее. Не веревочка свяжет планеты,
                а дружба мальчишек…
            </span>
        </section>
    </div>

    <h1>фотогалерея</h1>

    <div class="row">
        <aside class="col-xs-3">
            <form action="">
                <div class="category_filters_checkbox mod-aside text-left">
                    <div class="category_filters_checkbox_style list-unstyled">
                        <div class="category_filters_checkbox_style_item">
                            <strong class="color_brown">Площадь</strong>
                            <i class="material-icons deployer">&#xE313;</i>
                            <i class="material-icons collapser">&#xE316;</i>
                        </div>
                        <ul class="category_filters_checkbox_list list-unstyled text-left">
                            <li>
                                <div class="radio_decoration checkbox">
                                    <input type="checkbox" name="homeFurnishing" id="style1" value="option1">
                                    <label for="style1">Освещение</label>
                                </div>
                            </li>
                            <li>
                                <div class="radio_decoration checkbox">
                                    <input type="checkbox" name="homeFurnishing" id="style1" value="option1">
                                    <label for="style1">Подъемники</label>
                                </div>
                            </li>
                            <li>
                                <div class="radio_decoration checkbox">
                                    <input type="checkbox" name="homeFurnishing" id="style2" value="option1">
                                    <label for="style2">Х</label>
                                </div>
                            </li>
                            <li>
                                <div class="radio_decoration checkbox">
                                    <input type="checkbox" name="homeFurnishing" id="style3" value="option1">
                                    <label for="style3">Х</label>
                                </div>
                            </li>
                            <li>
                                <div class="radio_decoration checkbox">
                                    <input type="checkbox" name="homeFurnishing" id="style4" value="option1">
                                    <label for="style4">Х</label>
                                </div>
                            </li>
                            <li>
                                <div class="radio_decoration checkbox">
                                    <input type="checkbox" name="homeFurnishing" id="style5" value="option1">
                                    <label for="style5">Х</label>
                                </div>
                            </li>
                            <li>
                                <div class="radio_decoration checkbox">
                                    <input type="checkbox" name="homeFurnishing" id="style6" value="option1">
                                    <label for="style6">Х</label>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="category_filters_checkbox mod-aside text-left">
                    <div class="category_filters_checkbox_style list-unstyled">
                        <div class="category_filters_checkbox_style_item">
                            <strong class="color_brown">Стиль</strong>
                            <i class="material-icons deployer">&#xE313;</i>
                            <i class="material-icons collapser">&#xE316;</i>
                        </div>
                        <ul class="category_filters_checkbox_list list-unstyled text-left">
                            <li>
                                <div class="radio_decoration checkbox">
                                    <input type="checkbox" name="homeFurnishing" id="style1" value="option1">
                                    <label for="style1">Классика</label>
                                </div>
                            </li>
                            <li>
                                <div class="radio_decoration checkbox">
                                    <input type="checkbox" name="homeFurnishing" id="style2" value="option1">
                                    <label for="style2">Модерн</label>
                                </div>
                            </li>
                            <li>
                                <div class="radio_decoration checkbox">
                                    <input type="checkbox" name="homeFurnishing" id="style3" value="option1">
                                    <label for="style3">Кантри</label>
                                </div>
                            </li>
                            <li>
                                <div class="radio_decoration checkbox">
                                    <input type="checkbox" name="homeFurnishing" id="style4" value="option1">
                                    <label for="style4">Ретро</label>
                                </div>
                            </li>
                            <li>
                                <div class="radio_decoration checkbox">
                                    <input type="checkbox" name="homeFurnishing" id="style5" value="option1">
                                    <label for="style5">Хай-тек</label>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="category_filters_checkbox mod-aside text-left">
                    <div class="category_filters_checkbox_style list-unstyled">
                        <div class="category_filters_checkbox_style_item">
                            <strong class="color_brown">Планировка</strong>
                            <i class="material-icons deployer">&#xE313;</i>
                            <i class="material-icons collapser">&#xE316;</i>
                        </div>
                        <ul class="category_filters_checkbox_list list-unstyled text-left">
                            <li>
                                <div class="radio_decoration checkbox">
                                    <input type="checkbox" name="homeFurnishing" id="style1" value="option1">
                                    <label for="style1">Классика</label>
                                </div>
                            </li>
                            <li>
                                <div class="radio_decoration checkbox">
                                    <input type="checkbox" name="homeFurnishing" id="style2" value="option1">
                                    <label for="style2">Модерн</label>
                                </div>
                            </li>
                            <li>
                                <div class="radio_decoration checkbox">
                                    <input type="checkbox" name="homeFurnishing" id="style3" value="option1">
                                    <label for="style3">Кантри</label>
                                </div>
                            </li>
                            <li>
                                <div class="radio_decoration checkbox">
                                    <input type="checkbox" name="homeFurnishing" id="style4" value="option1">
                                    <label for="style4">Ретро</label>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="category_filters_checkbox mod-aside text-left">
                    <div class="category_filters_checkbox_style list-unstyled">
                        <div class="category_filters_checkbox_style_item">
                            <strong class="color_brown">Цвет</strong>
                            <i class="material-icons deployer">&#xE313;</i>
                            <i class="material-icons collapser">&#xE316;</i>
                        </div>
                        <ul class="category_filters_checkbox_list list-unstyled text-left">
                            <li>
                                <div class="radio_decoration checkbox">
                                    <input type="checkbox" name="homeFurnishing" id="style1" value="option1">
                                    <label for="style1">Классика</label>
                                </div>
                            </li>
                            <li>
                                <div class="radio_decoration checkbox">
                                    <input type="checkbox" name="homeFurnishing" id="style2" value="option1">
                                    <label for="style2">Модерн</label>
                                </div>
                            </li>
                            <li>
                                <div class="radio_decoration checkbox">
                                    <input type="checkbox" name="homeFurnishing" id="style3" value="option1">
                                    <label for="style3">Кантри</label>
                                </div>
                            </li>
                            <li>
                                <div class="radio_decoration checkbox">
                                    <input type="checkbox" name="homeFurnishing" id="style4" value="option1">
                                    <label for="style4">Ретро</label>
                                </div>
                            </li>
                            <li>
                                <div class="radio_decoration checkbox">
                                    <input type="checkbox" name="homeFurnishing" id="style5" value="option1">
                                    <label for="style5">Хай-тек</label>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="category_filters_checkbox mod-aside text-left">
                    <div class="category_filters_checkbox_style list-unstyled">
                        <div class="category_filters_checkbox_style_item">
                            <strong class="color_brown">Фасады</strong>
                            <i class="material-icons deployer">&#xE313;</i>
                            <i class="material-icons collapser">&#xE316;</i>
                        </div>
                        <ul class="category_filters_checkbox_list list-unstyled text-left">
                            <li>
                                <div class="radio_decoration checkbox">
                                    <input type="checkbox" name="homeFurnishing" id="style1" value="option1">
                                    <label for="style1">Классика</label>
                                </div>
                            </li>
                            <li>
                                <div class="radio_decoration checkbox">
                                    <input type="checkbox" name="homeFurnishing" id="style2" value="option1">
                                    <label for="style2">Модерн</label>
                                </div>
                            </li>
                            <li>
                                <div class="radio_decoration checkbox">
                                    <input type="checkbox" name="homeFurnishing" id="style3" value="option1">
                                    <label for="style3">Кантри</label>
                                </div>
                            </li>
                            <li>
                                <div class="radio_decoration checkbox">
                                    <input type="checkbox" name="homeFurnishing" id="style4" value="option1">
                                    <label for="style4">Ретро</label>
                                </div>
                            </li>
                            <li>
                                <div class="radio_decoration checkbox">
                                    <input type="checkbox" name="homeFurnishing" id="style5" value="option1">
                                    <label for="style5">Хай-тек</label>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="category_filters_checkbox mod-aside text-left">
                    <div class="category_filters_checkbox_style list-unstyled">
                        <div class="category_filters_checkbox_style_item">
                            <strong class="color_brown">Стиль</strong>
                            <i class="material-icons deployer">&#xE313;</i>
                            <i class="material-icons collapser">&#xE316;</i>
                        </div>
                        <ul class="category_filters_checkbox_list list-unstyled text-left">
                            <li>
                                <div class="radio_decoration checkbox">
                                    <input type="checkbox" name="homeFurnishing" id="style1" value="option1">
                                    <label for="style1">Классика</label>
                                </div>
                            </li>
                            <li>
                                <div class="radio_decoration checkbox">
                                    <input type="checkbox" name="homeFurnishing" id="style2" value="option1">
                                    <label for="style2">Модерн</label>
                                </div>
                            </li>
                            <li>
                                <div class="radio_decoration checkbox">
                                    <input type="checkbox" name="homeFurnishing" id="style3" value="option1">
                                    <label for="style3">Кантри</label>
                                </div>
                            </li>
                            <li>
                                <div class="radio_decoration checkbox">
                                    <input type="checkbox" name="homeFurnishing" id="style4" value="option1">
                                    <label for="style4">Ретро</label>
                                </div>
                            </li>
                            <li>
                                <div class="radio_decoration checkbox">
                                    <input type="checkbox" name="homeFurnishing" id="style5" value="option1">
                                    <label for="style5">Хай-тек</label>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="category_filters_checkbox mod-aside text-left">
                    <div class="category_filters_checkbox_style list-unstyled">
                        <div class="category_filters_checkbox_style_item">
                            <strong class="color_brown">Планировка</strong>
                            <i class="material-icons deployer">&#xE313;</i>
                            <i class="material-icons collapser">&#xE316;</i>
                        </div>
                        <ul class="category_filters_checkbox_list list-unstyled text-left">
                            <li>
                                <div class="radio_decoration checkbox">
                                    <input type="checkbox" name="homeFurnishing" id="style1" value="option1">
                                    <label for="style1">Классика</label>
                                </div>
                            </li>
                            <li>
                                <div class="radio_decoration checkbox">
                                    <input type="checkbox" name="homeFurnishing" id="style2" value="option1">
                                    <label for="style2">Модерн</label>
                                </div>
                            </li>
                            <li>
                                <div class="radio_decoration checkbox">
                                    <input type="checkbox" name="homeFurnishing" id="style3" value="option1">
                                    <label for="style3">Кантри</label>
                                </div>
                            </li>
                            <li>
                                <div class="radio_decoration checkbox">
                                    <input type="checkbox" name="homeFurnishing" id="style4" value="option1">
                                    <label for="style4">Ретро</label>
                                </div>
                            </li>
                            <li>
                                <div class="radio_decoration checkbox">
                                    <input type="checkbox" name="homeFurnishing" id="style5" value="option1">
                                    <label for="style5">Хай-тек</label>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="category_filters_checkbox mod-aside text-left">
                    <div class="category_filters_checkbox_style list-unstyled">
                        <div class="category_filters_checkbox_style_item">
                            <strong class="color_brown">Цвет</strong>
                            <i class="material-icons deployer">&#xE313;</i>
                            <i class="material-icons collapser">&#xE316;</i>
                        </div>
                        <ul class="category_filters_checkbox_list list-unstyled text-left">
                            <li>
                                <div class="radio_decoration checkbox">
                                    <input type="checkbox" name="homeFurnishing" id="style1" value="option1">
                                    <label for="style1">Классика</label>
                                </div>
                            </li>
                            <li>
                                <div class="radio_decoration checkbox">
                                    <input type="checkbox" name="homeFurnishing" id="style2" value="option1">
                                    <label for="style2">Модерн</label>
                                </div>
                            </li>
                            <li>
                                <div class="radio_decoration checkbox">
                                    <input type="checkbox" name="homeFurnishing" id="style3" value="option1">
                                    <label for="style3">Кантри</label>
                                </div>
                            </li>
                            <li>
                                <div class="radio_decoration checkbox">
                                    <input type="checkbox" name="homeFurnishing" id="style4" value="option1">
                                    <label for="style4">Ретро</label>
                                </div>
                            </li>
                            <li>
                                <div class="radio_decoration checkbox">
                                    <input type="checkbox" name="homeFurnishing" id="style5" value="option1">
                                    <label for="style5">Хай-тек</label>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="category_filters_checkbox mod-aside text-left">
                    <div class="category_filters_checkbox_style list-unstyled">
                        <div class="category_filters_checkbox_style_item">
                            <strong class="color_brown">Фасады</strong>
                            <i class="material-icons deployer">&#xE313;</i>
                            <i class="material-icons collapser">&#xE316;</i>
                        </div>
                        <ul class="category_filters_checkbox_list list-unstyled text-left">
                            <li>
                                <div class="radio_decoration checkbox">
                                    <input type="checkbox" name="homeFurnishing" id="style1" value="option1">
                                    <label for="style1">Классика</label>
                                </div>
                            </li>
                            <li>
                                <div class="radio_decoration checkbox">
                                    <input type="checkbox" name="homeFurnishing" id="style2" value="option1">
                                    <label for="style2">Модерн</label>
                                </div>
                            </li>
                            <li>
                                <div class="radio_decoration checkbox">
                                    <input type="checkbox" name="homeFurnishing" id="style3" value="option1">
                                    <label for="style3">Кантри</label>
                                </div>
                            </li>
                            <li>
                                <div class="radio_decoration checkbox">
                                    <input type="checkbox" name="homeFurnishing" id="style4" value="option1">
                                    <label for="style4">Ретро</label>
                                </div>
                            </li>
                            <li>
                                <div class="radio_decoration checkbox">
                                    <input type="checkbox" name="homeFurnishing" id="style5" value="option1">
                                    <label for="style5">Хай-тек</label>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </form>
        </aside>

        <main class="col-xs-9">
            <section class="page_gallery_section">
                <h3 class="color_brown">Классические кухни</h3>
                <hr class="hr_orange">
                <div class="row">
                    <article class="col-xs-4">
                        <img src="../../img/poster1.png" alt="">
                    </article>
                    <article class="col-xs-4">
                        <img src="../../img/poster2.png" alt="">
                    </article>
                    <article class="col-xs-4">
                        <img src="../../img/poster3.png" alt="">
                    </article>
                </div>
                <hr>
                <div class="row">
                    <article class="col-xs-4">
                        <img src="../../img/poster1.png" alt="">
                    </article>
                    <article class="col-xs-4">
                        <img src="../../img/poster2.png" alt="">
                    </article>
                    <article class="col-xs-4">
                        <img src="../../img/poster3.png" alt="">
                    </article>
                </div>

                <button class="btn btn-default btn-block" type="button">Показать еще</button>
            </section>
            <section class="page_gallery_section">
                <h3 class="color_brown">Современные кухни</h3>
                <hr class="hr_orange">
                <div class="row">
                    <article class="col-xs-4">
                        <img src="../../img/poster1.png" alt="">
                    </article>
                    <article class="col-xs-4">
                        <img src="../../img/poster2.png" alt="">
                    </article>
                    <article class="col-xs-4">
                        <img src="../../img/poster3.png" alt="">
                    </article>
                </div>
                <hr>
                <div class="row">
                    <article class="col-xs-4">
                        <img src="../../img/poster1.png" alt="">
                    </article>
                    <article class="col-xs-4">
                        <img src="../../img/poster2.png" alt="">
                    </article>
                    <article class="col-xs-4">
                        <img src="../../img/poster3.png" alt="">
                    </article>
                </div>

                <button class="btn btn-default btn-block" type="button">Показать еще</button>
            </section>

        </main>

    </div>
    <% include part/footer.ejs %>
</div>

<% include part/modal.ejs %>
<% include part/end-html.ejs %>