<% var title = 'Куба белая'; %>
<% include part/begin-html.ejs %>
<div class="container">
    <% include part/header.ejs %>
    <ol class="breadcrumb">
        <li><a href="./main.html">Классика кухни</a></li>
        <li><a href="#">Кухня</a></li>
        <li><a href="#">Куба. Эксклюзивный проект</a></li>
        <li class="active">Куба белая</li>
    </ol>
    <main>
        <section class="card_product">
            <div class="row">
                <article class="col-xs-8">
                    <figure class="item discount">
                        <img src="../../img/card_product.png" alt="">
                        <div class="product-discount">-20%</div>
                    </figure>

                </article>
                <article class="card_product_function col-xs-4">
                    <h1>Куба белая</h1>
                    <h6>Артикул 15125</h6>
                    <hr class="beautiful">
                    <div class="card_product_function_price clearfix">
                        <div class="pull-left">
                            <span>59 000</span> руб.
                            <p>Стоимость базовой версии</p>
                        </div>
                        <a href="#" class="pull-right question_block">
                            <div></div>
                        </a>
                        <form class="pull-right" action="">
                            <div class="btn btn-block">в наличии</div>
                        </form>

                    </div>
                    <hr>
                    <div class="card_product_function_option row">
                        <div class="card_product_function_option_item col-xs-4">
                            <a class="" href="#">
                                <div class="img-wrap">
                                    <img src="../../img/icon_yoer_progect.png" alt="Свой проект">
                                </div>
                                <div class="text-wrap">
                                    <span>Создать свой проект в 3D</span>
                                </div>
                            </a>
                        </div>
                        <div class="card_product_function_option_item col-xs-4">
                            <a href="#" data-toggle="modal" data-target=".modal_measurer">
                                <div class="img-wrap">
                                    <img src="../../img/icon_free_measurement.png" alt="Замер">
                                </div>
                                <div class="text-wrap">
                                    <span>Бесплатный замер</span>
                                </div>
                            </a>
                        </div>
                        <div class="card_product_function_option_item col-xs-4">
                            <a href="#" data-toggle="modal" data-target=".modal_free_project">
                                <div class="img-wrap">
                                    <img src="../../img/icon_free_project.png" alt="">
                                </div>
                                <div class="text-wrap">
                                    <span>Бесплатный проект</span>
                                </div>
                            </a>
                        </div>
                        <div class="card_product_function_option_item col-xs-4">
                            <a href="#" data-toggle="modal" data-target=".modal_order_model">
                                <div class="img-wrap">
                                    <img src="../../img/icon_order_model.png" alt="">
                                </div>
                                <div class="text-wrap">
                                    <span>Заказать эту модель</span>
                                </div>
                            </a>
                        </div>
                        <div class="card_product_function_option_item col-xs-4">
                            <a href="#">
                                <div class="img-wrap">
                                    <img src="../../img/icon_buy_installments.png" alt="">
                                </div>
                                <div class="text-wrap">
                                    <span>Купить в рассрочку</span>
                                </div>
                            </a>
                        </div>
                        <div class="card_product_function_option_item col-xs-4">
                            <a href="#">
                                <div class="img-wrap">
                                    <img src="../../img/icon_bank_3d.png" alt="">
                                </div>
                                <div class="text-wrap">
                                    <span>Банк проектов 3D</span>
                                </div>
                            </a>
                        </div>


                    </div>
                    <form class="card_product_function_button clearfix">
                        <button class="pull-right btn btn-block card_product_function_button_buy mod-width">купить в 1
                            клик
                        </button>
                        <button class="btn btn-block card_product_function_button_buy mod-width">в корзину</button>

                    </form>
                    <form class="card_product_function_button">
                        <button class="btn btn-block card_product_function_button_action">получить персональную
                            скидку
                        </button>
                    </form>
                    <p class="card_product_function_manufacturer">Производитель: «Классика кухни»</p>
                </article>

                <article class="col-xs-8">
                    <div class="slider-mod-small">
                        <button id="photoPrev" class="btn-prev btn btn-default btn-block">
                            <i class="material-icons">navigate_before</i>
                        </button>
                        <button id="photoNext" class="btn-next btn btn-default btn-block">
                            <i class="material-icons">navigate_next</i>
                        </button>
                        <div class="assortment">

                            <div class="">
                                <div id="productsPhoto">
                                    <figure class="item">
                                        <img src="../../img/product.png" alt="Продукт">
                                    </figure>
                                    <figure class="item">
                                        <img src="../../img/product.png" alt="Продукт">
                                    </figure>
                                    <figure class="item">
                                        <img src="../../img/product.png" alt="Продукт">
                                    </figure>
                                    <figure class="item">
                                        <img src="../../img/product.png" alt="Продукт">
                                    </figure>
                                    <figure class="item">
                                        <img src="../../img/product.png" alt="Продукт">
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="col-xs-4 main_header">
                    <div class="main_header_designer">
                        <h4>3D конструктор</h4>
                        <a href="#">онлайн расчет</a>
                        <!--<div class="dimmer"></div>-->
                    </div>
                    <div class="clearfix">
                        <form class="card_product_assess pull-right">
                                <span>Нравится модель?</span>
                                <button type="button" class="card_product_assess_positive">&nbsp;</button>
                                <button type="button" class="card_product_assess_negative">&nbsp;</button>
                        </form>
                        <div class="card_product_soc">
                            <div class="ya-share2 pull-right" data-services="vkontakte,facebook,odnoklassniki"></div>
                            <span>Поделиться:</span>
                        </div>
                    </div>
                </article>
            </div>
        </section>
        <section class="card_caption">
            <!-- Nav tabs -->
            <ul class="nav nav-pills" role="tablist">
                <li role="presentation" class="active">
                    <a href="#description" aria-controls="home" role="tab" data-toggle="tab">
                        описание
                    </a>
                </li>
                <li role="presentation">
                    <a id="productsSettings" href="#settings" aria-controls="profile" role="tab" data-toggle="tab">
                        параметры
                    </a>
                </li>
                <li role="presentation">
                    <a href="#shipping" aria-controls="messages" role="tab" data-toggle="tab">
                        доставка и оплата
                    </a>
                </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <article role="tabpanel" class="tab-pane active" id="description">
                    <h3>Lorem ipsum dolor</h3>
                    <p>Стоимость кухонного гарнитура представлена за базовую версию размером 2,4 погонных метра.
                        Название модели определяет всю суть этой кухни. Как раз тот случай, когда, как говориться,
                        комментарии излишни. Мебель с этой моделью фасада, благодаря широкому диапазону цветовых
                        решений,
                        может стать основой любого стилистического решения помещения - от классики до модерна.
                        И конечно же, к Вашим услугам богатство декорирования резными элементами, технического оснащения
                        от ведущих европейских производителей фурнитуры.
                    </p>
                </article>

                <article role="tabpanel" class="tab-pane card_caption_settings" id="settings">
                    <ul class="list-inline" role="tablist">
                        <li role="presentation" class="active">
                            <a href="#settingModules" aria-controls="settingModules" role="tab"
                               data-toggle="tab">Модули</a>
                        </li>
                        <li role="presentation">
                            <a href="#settingFasad" aria-controls="settingFasad" role="tab" data-toggle="tab">Фасады</a>
                        </li>
                        <li role="presentation">
                            <a href="#settingCountertop" aria-controls="settingCountertop" role="tab" data-toggle="tab">Столешницы</a>
                        </li>
                        <li role="presentation">
                            <a href="#settingHendel" aria-controls="settingHendel" role="tab"
                               data-toggle="tab">Ручки</a>
                        </li>
                        <li role="presentation">
                            <a href="#settingThinges" aria-controls="settingThinges" role="tab" data-toggle="tab">Фурнитура</a>
                        </li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content ">
                        <div role="tabpanel" class="assortment mod-setting tab-pane active row" id="settingModules">
                            <div class="col-xs-4">
                                <figure class="item">
                                    <div class="product_img"><img src="../../img/product-card-ver2/cabinet-1.png"
                                                                  alt="Продукт"></div>
                                    <div class="product_name">ШКАФ НАВЕСНОЙ (П-60)</div>
                                    <form action="" class="pull-right">
                                        <button type="submit" class="basket"><img src="../../img/icon-basket.png"
                                                                                  alt="Корзина"></button>
                                    </form>
                                    <div class="product_price">
                                        <span>1 220</span>руб
                                    </div>
                                    <div class="product_setting">Размер: 500 (ш) х 360 (в) х 296 (г)</div>
                                </figure>
                            </div>
                            <div class="col-xs-4">
                                <figure class="item">
                                    <div class="product_img"><img src="../../img/product-card-ver2/cabinet-2.png"
                                                                  alt="Продукт"></div>
                                    <div class="product_name">ШКАФ НАВЕСНОЙ (П-60)</div>
                                    <form action="" class="pull-right">
                                        <button type="submit" class="basket"><img src="../../img/icon-basket.png"
                                                                                  alt="Корзина"></button>
                                    </form>
                                    <div class="product_price">
                                        <span>1 220</span>руб
                                    </div>
                                    <div class="product_setting">Размер: 500 (ш) х 360 (в) х 296 (г)</div>
                                </figure>
                            </div>
                            <div class="col-xs-4">
                                <figure class="item">
                                    <div class="product_img"><img src="../../img/product-card-ver2/cabinet-1.png"
                                                                  alt="Продукт"></div>
                                    <div class="product_name">ШКАФ НАВЕСНОЙ (П-60)</div>
                                    <form action="" class="pull-right">
                                        <button type="submit" class="basket"><img src="../../img/icon-basket.png"
                                                                                  alt="Корзина"></button>
                                    </form>
                                    <div class="product_price">
                                        <span>1 220</span>руб
                                    </div>
                                    <div class="product_setting">Размер: 500 (ш) х 360 (в) х 296 (г)</div>
                                </figure>
                            </div>
                            <div class="col-xs-4">
                                <figure class="item">
                                    <div class="product_img"><img src="../../img/product-card-ver2/cabinet-2.png"
                                                                  alt="Продукт"></div>
                                    <div class="product_name">ШКАФ НАВЕСНОЙ (П-60)</div>
                                    <form action="" class="pull-right">
                                        <button type="submit" class="basket"><img src="../../img/icon-basket.png"
                                                                                  alt="Корзина"></button>
                                    </form>
                                    <div class="product_price">
                                        <span>1 220</span>руб
                                    </div>
                                    <div class="product_setting">Размер: 500 (ш) х 360 (в) х 296 (г)</div>
                                </figure>
                            </div>
                            <div class="col-xs-4">
                                <figure class="item">
                                    <div class="product_img"><img src="../../img/product-card-ver2/cabinet-1.png"
                                                                  alt="Продукт"></div>
                                    <div class="product_name">ШКАФ НАВЕСНОЙ (П-60)</div>
                                    <form action="" class="pull-right">
                                        <button type="submit" class="basket"><img src="../../img/icon-basket.png"
                                                                                  alt="Корзина"></button>
                                    </form>
                                    <div class="product_price">
                                        <span>1 220</span>руб
                                    </div>
                                    <div class="product_setting">Размер: 500 (ш) х 360 (в) х 296 (г)</div>
                                </figure>
                            </div>
                            <div class="col-xs-4">
                                <figure class="item">
                                    <div class="product_img"><img src="../../img/product-card-ver2/cabinet-2.png"
                                                                  alt="Продукт"></div>
                                    <div class="product_name">ШКАФ НАВЕСНОЙ (П-60)</div>
                                    <form action="" class="pull-right">
                                        <button type="submit" class="basket"><img src="../../img/icon-basket.png"
                                                                                  alt="Корзина"></button>
                                    </form>
                                    <div class="product_price">
                                        <span>1 220</span>руб
                                    </div>
                                    <div class="product_setting">Размер: 500 (ш) х 360 (в) х 296 (г)</div>
                                </figure>
                            </div>
                            <div class="col-xs-4">
                                <figure class="item">
                                    <div class="product_img"><img src="../../img/product-card-ver2/cabinet-1.png"
                                                                  alt="Продукт"></div>
                                    <div class="product_name">ШКАФ НАВЕСНОЙ (П-60)</div>
                                    <form action="" class="pull-right">
                                        <button type="submit" class="basket"><img src="../../img/icon-basket.png"
                                                                                  alt="Корзина"></button>
                                    </form>
                                    <div class="product_price">
                                        <span>1 220</span>руб
                                    </div>
                                    <div class="product_setting">Размер: 500 (ш) х 360 (в) х 296 (г)</div>
                                </figure>
                            </div>
                            <div class="col-xs-4">
                                <figure class="item">
                                    <div class="product_img"><img src="../../img/product-card-ver2/cabinet-2.png"
                                                                  alt="Продукт"></div>
                                    <div class="product_name">ШКАФ НАВЕСНОЙ (П-60)</div>
                                    <form action="" class="pull-right">
                                        <button type="submit" class="basket"><img src="../../img/icon-basket.png"
                                                                                  alt="Корзина"></button>
                                    </form>
                                    <div class="product_price">
                                        <span>1 220</span>руб
                                    </div>
                                    <div class="product_setting">Размер: 500 (ш) х 360 (в) х 296 (г)</div>
                                </figure>
                            </div>
                            <div class="col-xs-4">
                                <figure class="item">
                                    <div class="product_img"><img src="../../img/product-card-ver2/cabinet-1.png"
                                                                  alt="Продукт"></div>
                                    <div class="product_name">ШКАФ НАВЕСНОЙ (П-60)</div>
                                    <form action="" class="pull-right">
                                        <button type="submit" class="basket"><img src="../../img/icon-basket.png"
                                                                                  alt="Корзина"></button>
                                    </form>
                                    <div class="product_price">
                                        <span>1 220</span>руб
                                    </div>
                                    <div class="product_setting">Размер: 500 (ш) х 360 (в) х 296 (г)</div>
                                </figure>
                            </div>
                            <div class="col-xs-4">
                                <figure class="item">
                                    <div class="product_img"><img src="../../img/product-card-ver2/cabinet-2.png"
                                                                  alt="Продукт"></div>
                                    <div class="product_name">ШКАФ НАВЕСНОЙ (П-60)</div>
                                    <form action="" class="pull-right">
                                        <button type="submit" class="basket"><img src="../../img/icon-basket.png"
                                                                                  alt="Корзина"></button>
                                    </form>
                                    <div class="product_price">
                                        <span>1 220</span>руб
                                    </div>
                                    <div class="product_setting">Размер: 500 (ш) х 360 (в) х 296 (г)</div>
                                </figure>
                            </div>


                        </div>
                        <div role="tabpanel" class="assortment mod-setting tab-pane row" id="settingFasad">
                            <div class="col-xs-4">
                                <figure class="item">
                                    <div class="product_img"><img src="../../img/product-card-ver2/cabinet-1.png"
                                                                  alt="Продукт"></div>
                                    <div class="product_name">Такой же, но фасад</div>
                                    <form action="" class="pull-right">
                                        <button type="submit" class="basket"><img src="../../img/icon-basket.png"
                                                                                  alt="Корзина"></button>
                                    </form>
                                    <div class="product_price">
                                        <span>1 220</span>руб
                                    </div>
                                    <div class="product_setting">Размер: 500 (ш) х 360 (в) х 296 (г)</div>
                                </figure>
                            </div>
                        </div>
                        <div role="tabpanel" class="assortment mod-setting tab-pane row" id="settingCountertop">
                            <div class="col-xs-4">
                                <figure class="item">
                                    <div class="product_img"><img src="../../img/product-card-ver2/cabinet-1.png"
                                                                  alt="Продукт"></div>
                                    <div class="product_name">Такой же, но столешница</div>
                                    <form action="" class="pull-right">
                                        <button type="submit" class="basket"><img src="../../img/icon-basket.png"
                                                                                  alt="Корзина"></button>
                                    </form>
                                    <div class="product_price">
                                        <span>1 220</span>руб
                                    </div>
                                    <div class="product_setting">Размер: 500 (ш) х 360 (в) х 296 (г)</div>
                                </figure>
                            </div>
                        </div>
                        <div role="tabpanel" class="assortment mod-setting tab-pane row" id="settingHendel">
                            <div class="col-xs-4">
                                <figure class="item">
                                    <div class="product_img"><img src="../../img/product-card-ver2/cabinet-1.png"
                                                                  alt="Продукт"></div>
                                    <div class="product_name">Такой же, но ручка</div>
                                    <form action="" class="pull-right">
                                        <button type="submit" class="basket"><img src="../../img/icon-basket.png"
                                                                                  alt="Корзина"></button>
                                    </form>
                                    <div class="product_price">
                                        <span>1 220</span>руб
                                    </div>
                                    <div class="product_setting">Размер: 500 (ш) х 360 (в) х 296 (г)</div>
                                </figure>
                            </div>
                        </div>
                        <div role="tabpanel" class="assortment mod-setting tab-pane row" id="settingThinges">
                            <div class="col-xs-4">
                                <figure class="item">
                                    <div class="product_img"><img src="../../img/product-card-ver2/cabinet-1.png"
                                                                  alt="Продукт"></div>
                                    <div class="product_name">Такой же, но фурнитура</div>
                                    <form action="" class="pull-right">
                                        <button type="submit" class="basket"><img src="../../img/icon-basket.png"
                                                                                  alt="Корзина"></button>
                                    </form>
                                    <div class="product_price">
                                        <span>1 220</span>руб
                                    </div>
                                    <div class="product_setting">Размер: 500 (ш) х 360 (в) х 296 (г)</div>
                                </figure>
                            </div>
                        </div>
                    </div>


                </article>
                <article role="tabpanel" class="tab-pane" id="shipping">
                    <p>
                        Мебель доставляется в собранном виде в индивидуальной упаковке. Сроки доставки товара
                        оговаривается при заключении договора. За день до даты доставки с вами свяжется наш оператор для
                        уточнения деталей. В день доставки, для вашего удобства, водитель максимально точно сориентирует
                        вас по времени прибытия.
                    </p>
                    <p>
                        Обязательным условием для бесплатного подъёма товара на этаж является наличие грузового лифта,
                        в иных случаях данная услуга платная. Стоимость услуги можно уточнить у оператора.
                    </p>
                    <h3>Возврат товара</h3>
                    <p>
                        Возврат возможен при условии ненадлежащего качества товара на момент подписания акта
                        приема-передачи. Во всех других случаях возможность возврата товара осуществляется в
                        индивидуальном порядке, или в соответствии с Законом РФ о Правах потребителей.
                    </p>
                    <h3>Срок поставки</h3>
                    <p>
                        При условии наличия товара на складе доставка осуществляется в 3-х дневный срок. Товары, в
                        статусе которых указано «под заказ», доставляются в срок от 1 до 5 недель.
                    </p>
                    <p>
                        Обращайте внимание на статус товара, где указаны примерные сроки поставки. Подробнее уточните по
                        телефону у наших операторов.
                    </p>
                    <h3>Стоимость доставки</h3>
                    <ul>
                        <li>Стоимость доставки по г. Мытищи 1200 руб.</li>
                        <li>2000 руб. — Доставка по Москве. Центр и внутри ТТК</li>
                        <li>2500 руб. — Доставка по Москве в пределах 10 км. от МКАД, (Кроме г. Мытищи)</li>
                        <li>3000 руб. — Доставка по МО 10-20 км от МКАД</li>
                        <li>3500 руб. — Доставка по МО 20-30 км от МКАД</li>
                        <li>4000 руб. — Доставка по МО 30-40 км от МКАД</li>
                    </ul>


                    <p>Стоимость доставки мебели в другие регионы России можно уточнить у операторов.</p>
                    <h3>Сборка</h3>
                    <p>
                        Внимание! Покупатель вправе осуществить сборку мебели своими силами, но в таких случаях гарантия
                        на монтаж мебели недействительна. Ровно, как и на повреждения, причиненные в момент
                        самостоятельной сборки.
                    </p>
                    <p>
                        Мы рекомендуем воспользоваться услугами наших профессиональных сборщиков, это поможет избежать
                        всяческих проблем с дальнейшей эксплуатацией вашей мебели, и сохранит возможность гарантийного
                        и сервисного обслуживания. Стоимость сборки варьируется в пределах от 5 до 10% от цены мебели,
                        в зависит от сложности монтажа.
                    </p>
                    <p>
                        Внимание! Специалисты по сборке не оказывают услуг по подключению инженерных сетей
                        (вода, газ, электроприборы). В случае, если сборщики осуществили такого рода услуги по вашей
                        личной просьбе, гарантия и ответственность на эти работы не распространяется.
                    </p>
                    <h3>Гарантия</h3>
                    <p>
                        Гарантия на монтаж составляет 2 года. Гарантия на мебель составляет 5 лет.Основным условием на
                        гарантийное (бесплатное) обслуживание является надлежащее использование, исключающее
                        механические
                        перегрузки, небрежную эксплуатацию, физические повреждения (царапины, сколы), проникновение
                        жидкостей, грязи, и прочих посторонних воздействий.
                    </p>
                </article>
            </div>
        </section>
        <section class="slider">
            <% var sliderTitle = 'Похожие товары'; %>
            <% include part/slider.ejs %>
        </section>
        <section class="card_application">
            <h2>заявка</h2>
            <hr>
            <form class="bid-form">
                <fieldset class="row">
                    <!--Выбор цвета верха кухни-->

                    <div class="col-xs-4">
                        <div class="form-group card_application_color grup_radio">
                            <span>Верхняя часть</span>
                            <input type="radio" name="colorTop" id="topOrange" value="orange" checked>
                            <label for="topOrange" class="color_orange radio-inline"></label>
                            <input type="radio" name="colorTop" id="topBrown" value="brown">
                            <label for="topBrown" class="color_brown radio-inline"></label>
                            <input type="radio" name="colorTop" id="topGreen" value="green">
                            <label for="topGreen" class="color_green radio-inline"></label>
                            <input type="radio" name="colorTop" id="topMilk" value="milk" checked>
                            <label for="topMilk" class="color_milk radio-inline"></label>
                            <input type="radio" name="colorTop" id="topWhite" value="white">
                            <label for="topWhite" class="color_white radio-inline"></label>
                        </div>
                    </div>

                    <!--Выбор цвета столешницы-->

                    <div class="col-xs-4">
                        <div class="form-group card_application_color grup_radio">
                            <span>Столешница</span>
                            <input type="radio" name="colorCountertop" id="countertopOrange" value="orange" checked>
                            <label for="countertopOrange" class="color_orange radio-inline"></label>
                            <input type="radio" name="colorCountertop" id="countertopBrown" value="brown">
                            <label for="countertopBrown" class="color_brown radio-inline"></label>
                            <input type="radio" name="colorCountertop" id="countertopGreen" value="green">
                            <label for="countertopGreen" class="color_green radio-inline"></label>
                            <input type="radio" name="colorCountertop" id="countertopMilk" value="milk" checked>
                            <label for="countertopMilk" class="color_milk radio-inline"></label>
                            <input type="radio" name="colorCountertop" id="countertopWhite" value="white">
                            <label for="countertopWhite" class="color_white radio-inline"></label>
                        </div>
                    </div>

                    <!--Выбор цвета нижней части кухни-->

                    <div class="col-xs-4">
                        <div class="form-group card_application_color grup_radio">
                            <span>Нижняя часть</span>
                            <input type="radio" name="colorBottom" id="bottomOrange" value="orange" checked>
                            <label for="bottomOrange" class="color_orange radio-inline"></label>
                            <input type="radio" name="colorBottom" id="bottomBrown" value="brown">
                            <label for="bottomBrown" class="color_brown radio-inline"></label>
                            <input type="radio" name="colorBottom" id="bottomGreen" value="green">
                            <label for="bottomGreen" class="color_green radio-inline"></label>
                            <input type="radio" name="colorBottom" id="bottomMilk" value="milk" checked>
                            <label for="bottomMilk" class="color_milk radio-inline"></label>
                            <input type="radio" name="colorBottom" id="bottomWhite" value="white">
                            <label for="bottomWhite" class="color_white radio-inline"></label>
                        </div>
                    </div>
                </fieldset>
                <hr>

                <!--декоративные элементы-->

                <fieldset>
                    <div class="row">

                        <!--варианты витрин-->

                        <div class="form-group card_application_showcase col-xs-7">
                            <span>Вариатны витрин</span>
                            <input type="radio" name="colorShowcase" id="showcaseOrange" value="orange" checked>
                            <label for="showcaseOrange" class="color_orange radio-inline"></label>
                            <input type="radio" name="colorShowcase" id="showcaseBrown" value="brown">
                            <label for="showcaseBrown" class="color_brown radio-inline"></label>
                            <input type="radio" name="colorShowcase" id="showcaseGreen" value="green">
                            <label for="showcaseGreen" class="color_green radio-inline"></label>
                            <input type="radio" name="colorShowcase" id="showcaseMilk" value="milk" checked>
                            <label for="showcaseMilk" class="color_milk radio-inline"></label>
                            <input type="radio" name="colorShowcase" id="showcaseWhite" value="white">
                            <label for="showcaseWhite" class="color_white radio-inline"></label>
                        </div>

                        <div class="radio_decoration active checkbox col-xs-5">
                            <input type="checkbox" name="decorationElements" id="decorationElements" value="option2">
                            <label for="decorationElements">Наличие декоративных элементов</label>
                        </div>
                    </div>

                    <!--варианты ручек для дверей-->

                    <div class="card_application_handle row">
                        <strong class="col-xs-2 text-uppercase">Выбор ручек</strong>
                        <div class="form-group col-xs-10">
                            <div class="slider-mod-small">
                                <button id="handlePrev" type="button" class="btn-prev btn btn-default btn-block">
                                    <i class="material-icons">navigate_before</i>
                                </button>
                                <button id="handleNext" type="button" class="btn-next btn btn-default btn-block">
                                    <i class="material-icons">navigate_next</i>
                                </button>
                                <div class="assortment">
                                    <div id="handle">
                                        <div class="radio">
                                            <label>
                                                <input type="radio" name="typeHandle" value="">
                                                <img src="../../img/handle1.jpg" alt="" width="100">
                                            </label>
                                        </div>
                                        <div class="radio">
                                            <label>
                                                <input type="radio" name="typeHandle" value="">
                                                <img src="../../img/handle1.jpg" alt="" width="100">
                                            </label>
                                        </div>
                                        <div class="radio">
                                            <label>
                                                <input type="radio" name="typeHandle" value="">
                                                <img src="../../img/handle1.jpg" alt="" width="100">
                                            </label>
                                        </div>
                                        <div class="radio">
                                            <label>
                                                <input type="radio" name="typeHandle" value="">
                                                <img src="../../img/handle1.jpg" alt="" width="100">
                                            </label>
                                        </div>
                                        <div class="radio">
                                            <label>
                                                <input type="radio" name="typeHandle" value="">
                                                <img src="../../img/handle1.jpg" alt="" width="100">
                                            </label>
                                        </div>
                                        <div class="radio">
                                            <label>
                                                <input type="radio" name="typeHandle" value="">
                                                <img src="../../img/handle1.jpg" alt="" width="100">
                                            </label>
                                        </div>
                                        <div class="radio">
                                            <label>
                                                <input type="radio" name="typeHandle" value="">
                                                <img src="../../img/handle1.jpg" alt="" width="100">
                                            </label>
                                        </div>
                                        <div class="radio">
                                            <label>
                                                <input type="radio" name="typeHandle" value="">
                                                <img src="../../img/handle1.jpg" alt="" width="100">
                                            </label>
                                        </div>
                                        <div class="radio">
                                            <label>
                                                <input type="radio" name="typeHandle" value="">
                                                <img src="../../img/handle1.jpg" alt="" width="100">
                                            </label>
                                        </div>
                                        <div class="radio">
                                            <label>
                                                <input type="radio" name="typeHandle" value="">
                                                <img src="../../img/handle1.jpg" alt="" width="100">
                                            </label>
                                        </div>
                                        <div class="radio">
                                            <label>
                                                <input type="radio" name="typeHandle" value="">
                                                <img src="../../img/handle1.jpg" alt="" width="100">
                                            </label>
                                        </div>
                                        <div class="radio">
                                            <label>
                                                <input type="radio" name="typeHandle" value="">
                                                <img src="../../img/handle1.jpg" alt="" width="100">
                                            </label>
                                        </div>
                                        <div class="radio">
                                            <label>
                                                <input type="radio" name="typeHandle" value="">
                                                <img src="../../img/handle1.jpg" alt="" width="100">
                                            </label>
                                        </div>
                                        <div class="radio">
                                            <label>
                                                <input type="radio" name="typeHandle" value="">
                                                <img src="../../img/handle1.jpg" alt="" width="100">
                                            </label>
                                        </div>
                                        <div class="radio">
                                            <label>
                                                <input type="radio" name="typeHandle" value="">
                                                <img src="../../img/handle1.jpg" alt="" width="100">
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <hr>

                <!--планировка кухонного гарнитура-->

                <fielset>
                    <legend>планировка кухонного гарнитура</legend>

                    <!--прямая кухня-->

                    <div class="row">
                        <div class="col-xs-3">
                            <div class="radio_decoration layout grup_radio radio">
                                <input type="radio" name="optionsRadios" id="layoutRectangle" value="option1" checked>
                                <label for="layoutRectangle">
                                    Прямая
                                    <div class="kitchen_layout">
                                        <div class="kitchen_layout_rectangle">
                                            <div class="col-1"></div>
                                            <div class="col-2"></div>
                                        </div>
                                    </div>
                                </label>
                            </div>
                        </div>

                        <!--треуголная левая кухня-->

                        <div class="col-xs-3">
                            <div class="radio_decoration layout grup_radio radio">
                                <input type="radio" name="optionsRadios" id="layoutTriangular" value="option1" checked>
                                <label for="layoutTriangular">
                                    Угловая левая
                                    <div class="kitchen_layout">
                                        <div class="kitchen_layout_triangular-left">
                                            <div class="col-1"></div>
                                            <div class="col-2"></div>
                                            <div class="col-3"></div>
                                        </div>
                                    </div>
                                </label>
                            </div>
                        </div>

                        <!--треуголная левая кухня-->

                        <div class="col-xs-3">
                            <div class="radio_decoration layout grup_radio radio">
                                <input type="radio" name="optionsRadios" id="layoutTriangularRight" value="option1"
                                       checked>
                                <label for="layoutTriangularRight">
                                    Угловая правая
                                    <div class="kitchen_layout">
                                        <div class="kitchen_layout_triangular-right">
                                            <div class="col-1"></div>
                                            <div class="col-2"></div>
                                            <div class="col-3"></div>
                                        </div>
                                    </div>
                                </label>
                            </div>
                        </div>

                        <!--П-образная кухня-->

                        <div class="col-xs-3">
                            <div class="radio_decoration layout grup_radio radio">
                                <input type="radio" name="optionsRadios" id="layoutP" value="option1" checked>
                                <label for="layoutP">
                                    Угловая правая
                                    <div class="kitchen_layout">
                                        <div>
                                            <div class="col-1"></div>
                                            <div class="col-2"></div>
                                            <div class="col-3"></div>
                                            <div class="col-4"></div>
                                        </div>
                                    </div>
                                </label>
                            </div>
                        </div>
                    </div>

                    <!--определение высот и добавить остров-->

                    <div class="row">
                        <div class="col-xs-4 form-horizontal card_application_group">
                            <div class="form-group">
                                <label for="heightCeiling" class="col-sm-7 control-label">Высота потолков, мм</label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control" id="heightCeiling">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="heightWardrobe" class="col-sm-7 control-label">Высота навесных
                                    шкафов</label>
                                <div class="col-sm-5">
                                    <select class="form-control" id="heightWardrobe">
                                        <option>720 мм</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6 grup_radio">
                            <div class="radio_decoration checkbox col-xs-5 active">
                                <input type="checkbox" name="addIsland" id="addIsland" value="">
                                <label for="addIsland">Добавить остров</label>
                            </div>
                            <div class="col-xs-7 form-horizontal">
                                <div class="form-group">
                                    <label for="islandSade1" class="col-sm-6 control-label">Сторона 1, мм</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="islandSade1">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="islandSade2" class="col-sm-6 control-label">Сторона 2, мм</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="islandSade2">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </fielset>
                <hr>
                <fieldset class="card_application_technigue">
                    <legend>какая бытовая техника устанавливается в кухню</legend>
                    <strong>У вас в доме обеспечение</strong>
                    <div class="form-inline">
                        <div class="radio_decoration checkbox">
                            <input type="radio" name="homeFurnishing" id="homeFurnishingEl" value="option1">
                            <label for="homeFurnishingEl">Электрическое</label>
                        </div>
                        <div class="radio_decoration active checkbox">
                            <input type="radio" name="homeFurnishing" id="homeFurnishingGaz" value="option2">
                            <label for="homeFurnishingGaz">Газовое</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-5">
                            <div class="grup_radio form-horizontal">
                                <span>Расположение слива под воду</span>
                                <div class="square_location"></div>
                                <div class="form-group">
                                    <label for="drain" class="col-sm-7 control-label">Примерное расстояние от угла,
                                        мм</label>
                                    <div class="col-sm-5">
                                        <input type="text" class="form-control" id="drain">
                                    </div>
                                </div>
                            </div>
                            <div class="grup_radio form-horizontal">
                                <span>Расположение слива под воду</span>
                                <div class="square_location"></div>
                                <div class="form-group">
                                    <label for="drain" class="col-sm-7 control-label">Примерное расстояние от угла,
                                        мм</label>
                                    <div class="col-sm-5">
                                        <input type="text" class="form-control" id="drain">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-5">
                            <div class="grup_radio">
                                <strong>Отдельностоящая техника</strong>
                                <div class="checkbox radio_decoration active">
                                    <input id="techniqueSeparate1" type="checkbox" name="techniqueSeparate" value="">
                                    <label for="techniqueSeparate1">Плита</label>
                                </div>
                                <div class="checkbox radio_decoration">
                                    <input id="techniqueSeparate2" type="checkbox" name="techniqueSeparate" value="">
                                    <label for="techniqueSeparate2">Холодильник</label>
                                </div>
                                <div class="checkbox radio_decoration">
                                    <input id="techniqueSeparate3" type="checkbox" name="techniqueSeparate" value="">
                                    <label for="techniqueSeparate3">Посудомоечная машина</label>
                                </div>
                                <div class="checkbox radio_decoration">
                                    <input id="techniqueSeparate4" type="checkbox" name="techniqueSeparate" value="">
                                    <label for="techniqueSeparate4">Стиральная машина</label>
                                </div>

                                <strong>Встраиваемая техника</strong>
                                <div class="checkbox radio_decoration  active">
                                    <input id="techniqueEmbedded1" type="checkbox" name="techniqueEmbedded" value="">
                                    <label for="techniqueEmbedded1">Варочная поверхность</label>
                                </div>
                                <div class="checkbox radio_decoration">
                                    <input id="techniqueEmbedded2" type="checkbox" name="techniqueEmbedded" value="">
                                    <label for="techniqueEmbedded2">Духовой шкаф</label>
                                </div>
                                <div class="checkbox radio_decoration">
                                    <input id="techniqueEmbedded3" type="checkbox" name="techniqueEmbedded" value="">
                                    <label for="techniqueEmbedded3">Посудомоечная машина 60см</label>
                                </div>
                                <div class="checkbox radio_decoration">
                                    <input id="techniqueEmbedded4" type="checkbox" name="techniqueEmbedded" value="">
                                    <label for="techniqueEmbedded4">Посудомоечная машина 45 см</label>
                                </div>
                                <div class="checkbox radio_decoration">
                                    <input id="techniqueEmbedded5" type="checkbox" name="techniqueEmbedded" value="">
                                    <label for="techniqueEmbedded5">Холодильник</label>
                                </div>
                                <div class="checkbox radio_decoration">
                                    <input id="techniqueEmbedded6" type="checkbox" name="techniqueEmbedded" value="">
                                    <label for="techniqueEmbedded6">Стиральная машина</label>
                                </div>

                                <strong>Предпочтительное расположение духового шкафа</strong>
                                <div class="radio radio_decoration">
                                    <input id="techniqueOven1" type="radio" name="techniqueOven" value="">
                                    <label for="techniqueOven1">В нижнем шкафу</label>
                                </div>
                                <div class="radio radio_decoration">
                                    <input id="techniqueOven2" type="radio" name="techniqueOven" value="">
                                    <label for="techniqueOven2">В колонне</label>
                                </div>

                            </div>

                        </div>
                        <div class="col-xs-2">
                            <div class="grup_radio">
                                <strong>Вытяжка</strong>
                                <div class="radio radio_decoration  active">
                                    <input id="techniqueHood1" type="radio" name="techniqueHood" value="o1">
                                    <label for="techniqueHood1">Встраиваемая</label>
                                </div>
                                <div class="radio radio_decoration">
                                    <input id="techniqueHood2" type="radio" name="techniqueHood" value="o2">
                                    <label for="techniqueHood2">Купольная</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <hr>
                <fieldset>
                    <legend>Столешница и кухонный фартук</legend>
                    <div class="form-inline">
                        <div class="radio_decoration radio">
                            <input type="radio" id="kitchenApron1" name="kitchenApron" value="option1">
                            <label for="kitchenApron1">Плитка</label>
                        </div>
                        <div class="radio_decoration radio">
                            <input type="radio" id="kitchenApron2" name="kitchenApron" value="option2">
                            <label for="kitchenApron2">Стеновая панель</label>
                        </div>
                        <div class="radio_decoration radio">
                            <input type="radio" id="kitchenApron3" name="kitchenApron" value="option3">
                            <label for="kitchenApron3">Не требуется</label>
                        </div>
                        <div class="radio_decoration checkbox">
                            <input type="checkbox" id="kitchenApronPrice" value="option3">
                            <label for="kitchenApronPrice"><strong>Включать стоимость столешницы в
                                    расчет</strong></label>
                        </div>


                    </div>
                </fieldset>
                <hr>
                <fieldset class="row">
                    <div class="col-xs-5 form-horizontal">
                        <div class="form-group">
                            <label for="installationDate" class="col-sm-7 control-label">Планируемая дата установки
                                кухни*</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" id="installationDate">
                            </div>
                        </div>
                        <div class="grup_radio">

                            <ul class="list-unstyled form_result"><strong class="text-uppercase">Выбранная
                                    кухня</strong>
                                <li>Кухня: «Nova (ваниль)»</li>
                                <li>Верх: «Белый»</li>
                                <li>Низ: «Белый»</li>
                                <li>Столешница «Белый»</li>
                                <li>Столешница «Белый»</li>
                                <li>Высота навесных шкафов: «720 мм»</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xs-7">
                        <legend>Контактные данные</legend>
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label for="dataName">Ваше имя:*</label>
                                <input type="text" class="form-control" id="dataName">
                            </div>

                            <div class="form-group">
                                <label for="dataPhone">Контактный телефон:*</label>
                                <input type="text" class="form-control" id="dataPhone">
                            </div>
                            <div class="form-group">
                                <label for="dataEmail">E-mail:*</label>
                                <input type="email" class="form-control" id="dataEmail">
                            </div>

                            <div class="form-group">
                                <label for="exampleInputFile">Загрузить фото помещения</label>
                                <input type="file" id="exampleInputFile">
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label for="dataCity">Город</label>
                                <select class="form-control" id="dataCity">
                                    <option>Москва</option>
                                    <option>Новосибирск</option>
                                    <option>Омск</option>
                                    <option>Кемерово</option>
                                    <option>Сочи</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="dataMetro">Ближайшее метро:</label>
                                <select class="form-control" id="dataMetro">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="dataShop">Ближайший магазин:</label>
                                <select class="form-control" id="dataShop">
                                    <option>Любой</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="dataText">Дополнительные пожелания:</label>
                                <textarea class="form-control" rows="5" id="dataText"></textarea>
                            </div>
                            <button type="submit" class="btn-orange btn text-uppercase btn-block">
                                <strong>Отправить</strong>
                            </button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </section>
    </main>
    <% include part/footer.ejs %>
</div>

<% include part/modal.ejs %>
<% include part/end-html.ejs %>