<% var title = 'Отзывы'; %>
<% include part/begin-html.ejs %>
<div class="container">
    <% include part/header.ejs %>
    <ol class="breadcrumb">
        <li><a href="./main.html">Классика кухни</a></li>
        <li class="active">Отзывы</li>
    </ol>
    <main class="reviews">
        <h1 class="text-uppercase color_brown">Отзывы</h1>

        <section class="articles">
            <article>
                <div class="text-uppercase">Юля Н.</div>
                <div>Мытищи, ул. Борисовка</div>
            </article>
            <hr>
            <article class="reviews_content">
                <div class="reviews_content_text">
                    Мы с мужем купили квартиру в новостройке на Борисовке. Встал вопрос о покупке кухонной мебели. Обошли
                    массу магазинов, выбор огромный, но цена оказалась выше, чем мы предполагали, поскольку на момент
                    окончания ремонта семейный бюджет сильно уменьшился. Подруга посоветовала присмотреться к новому магазину
                    мебели на ул. Колпакова, и даже пообещала скидку 10% по своей карте. Приехали, посчитали, и были удивлены,
                    что даже без скидки оказалось на порядок дешевле, а со скидкой цена превзошла все наши ожидания!
                    С удовольствием приняли приглашение в Клуб Друзей. Спасибо.
                </div>
                <div class="reviews_content_collapser text-uppercase color_orange btn-block">
                    <i class="material-icons">&#xE316;</i>
                </div>
                <div class="reviews_content_deployer text-uppercase color_orange btn-block">подробнее</div>
            </article>
        </section>
        <section class="articles">
            <article>
                <div class="text-uppercase">сергей К.</div>
                <div>Мытищи, ул. Колпакова</div>
            </article>
            <hr>
            <article class="reviews_content">
                <div class="reviews_content_text">
                    Я с детьми побывал на праздновании Нового Года на ул. Мира. Для меня стало приятным сюрпризом, что в
                    нашем городе появилась компания, которая так трепетно относится к жителям своего района. Дед Мороз со
                    Снегурочкой веселили детей и дарили подарки, мои сынишки просто в восторге! Ну и совсем не ожидал увидеть
                    на этом празднике выступление артиста, которого знает и любит вся страна, даже удалось с ним познакомиться!
                    Потом был розыгрыш призов для родителей, и я выиграл стол! Приятно, очень приятно! Спасибо вам! С удовольствием
                    вступил в Клуб Друзей, и вам советую. Люди, которые столько внимания уделяют нашему району, не могут быть плохими.

                </div>
                <div class="reviews_content_collapser text-uppercase color_orange btn-block">
                    <i class="material-icons">&#xE316;</i>
                </div>
                <div class="reviews_content_deployer text-uppercase color_orange btn-block">подробнее</div>
            </article>
        </section>
        <section class="articles">
            <article>
                <div class="text-uppercase">марина с.</div>
                <div>Мытищи, ул. Мира</div>
            </article>
            <hr>
            <article class="reviews_content">
                <div class="reviews_content_text">
                    Поначалу, без особого энтузиазма приняла приглашение в этот клуб, когда покупала мебель по совету своей
                    соседки, поскольку отношу себя к числу скептиков, и не особо верю пустым обещаниям. Но очень скоро
                    удивилась: сначала получила приглашение на праздник, потом мне пришло сообщение, что я могу прийти и
                    получить свое вознаграждение. Я совсем забыла, что однажды рассказала своей соседке по подъезду,
                    что мол, купила мебель для кухни по вполне приемлемой цене, а она возьми и воспользуйся моим советом!
                    Оказалось, приятно совмещать приятное с полезным, и ей скидка пригодилась, и мне подарили комплект
                    стульев для моей кухни!
                </div>
                <div class="reviews_content_collapser text-uppercase color_orange btn-block">
                    <i class="material-icons">&#xE316;</i>
                </div>
                <div class="reviews_content_deployer text-uppercase color_orange btn-block">подробнее</div>
            </article>
        </section>
    </main>
    <% include part/footer.ejs %>

</div>

<% include part/modal.ejs %>
<% include part/end-html.ejs %>