<% var title = 'Вакансии'; %>
<% include part/begin-html.ejs %>
<div class="container">
    <% include part/header.ejs %>
    <ol class="breadcrumb">
        <li><a href="./main.html">Классика кухни</a></li>
        <li><a href="#">Покупателю</a></li>
        <li class="active">Вакансии</li>
    </ol>
    <main class="vacancies yes">
       <div class="clearfix">
           <form class="pull-right" action="">
               <button type="button" class="btn btn-orange text-uppercase color_brown">
                   <strong>отправить свое резюме</strong>
               </button>
           </form>
           <h1>Вакансии</h1>
       </div>

        <section class="vacancies_no">
            <p>
               <strong>В настоящее время все вакансии закрыты.</strong>
            </p>
        </section>
        <section class="vacancies_yes">
            <article class="vacancies_item row">
                <div class="vacancies_item_description col-xs-10">
                    <img src="../../img/vacansy.png" alt="" class="pull-left">
                    <h3>Менеджер по оптовым продажам</h3>
                    Возраст 25-50 лет. Опыт работы от 2-х лет.
                    Обязанности: развитие оптовых продаж кухонных фасадов и обеденных групп.
                </div>
                <div class="vacancies_item_prise col-xs-2"><span>от 30 000 р</span>.</div>
            </article>
            <hr>
            <article class="vacancies_item row">
                <div class="vacancies_item_description col-xs-10">
                    <img src="../../img/vacansy.png" alt="" class="pull-left">
                    <h3>Замерщик</h3>
                    Возраст 25-50 лет. Опыт работы от 2-х лет.
                    Обязанности: развитие оптовых продаж кухонных фасадов и обеденных групп.
                </div>
                <div class="vacancies_item_prise col-xs-2"><span>от 30 000 р</span>.</div>
            </article>
            <hr>
            <article class="vacancies_item row">
                <div class="vacancies_item_description col-xs-10">
                    <img src="../../img/vacansy.png" alt="" class="pull-left">
                    <h3>Менеджер-консультант</h3>
                    Знание программы PRO-100. Работа с поставщиками, обработка заказов и текущего документооборота по ним.
                </div>
                <div class="vacancies_item_prise col-xs-2"><span>от 30 000 р</span>.</div>
            </article>
            <hr>

        </section>
    </main>
    <% include part/footer.ejs %>
</div>

<% include part/modal.ejs %>
<% include part/end-html.ejs %>